@model StoreFertilizers.Models.Stock

@{
    ViewData["Title"] = "เพิ่มข้อมูลสินค้า";
}

<h2>เพิ่มข้อมูลสินค้าเข้าคลัง</h2>

<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <img src="~/images/no-image.png" class="img-thumbnail" width="304" height="236">
            <input type="file" name="productImageUploaded" style="max-width:300px;"/>
            <!--
            <label asp-for="ProductImage" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ProductImage" class="form-control" />
                <span asp-validation-for="ProductImage" class="text-danger" />
            </div>
            -->
        </div>
        <div class="form-group">
            <label asp-for="ProductID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ProductID" asp-items="ViewBag.ProductID" class="form-control">
                    <option disabled selected>--- เลือกสินค้า ---</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Balance" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Balance" class="form-control" />
                <span asp-validation-for="Balance" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Location" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Notes" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
