@model StoreFertilizers.Models.Stock

@{
    ViewData["Title"] = "ปรับปรุงข้อมูลสินค้า";
}

<h2>ปรับปรุงข้อมูลสินค้าในคลัง</h2>

<form asp-action="Edit" enctype="multipart/form-data">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="StockID" />
        <div class="form-group">
            <label asp-for="ProductID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ProductID" asp-items="ViewBag.ProductID" class="form-control">
                    <option disabled selected>--- เลือกสินค้า ---</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Balance" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Balance" class="form-control" />
                <span asp-validation-for="Balance" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FullCapStock" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FullCapStock" class="form-control" />
                <span asp-validation-for="FullCapStock" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LowCapStock" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LowCapStock" class="form-control" />
                <span asp-validation-for="LowCapStock" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AlertLowStock" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AlertLowStock" class="form-control" />
                <span asp-validation-for="AlertLowStock" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Location" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Notes" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon-floppy-save"></span> บันทึก
                </button>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-default btn-lg" role="button">
        <i class="glyphicon glyphicon-hand-left"></i> ย้อนกลับ
    </a>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
