@{
    ViewData["Title"] = "คลังสินค้า";
}

<form name="myForm" class="form-horizontal" role="form" ng-controller="stocksController">
    <br />
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table borderless" style="margin:0px;">
                    <tr>
                        <td width="120px" style="border:none;vertical-align:middle;">
                            <select class="form-control input-sm display-inline" style="width:120px;" ng-model="data.filterOptions.productType" ng-options='option.name for option in data.productTypeList'>
                                <option value="">-ทุกชนิดสินค้า-</option>
                            </select>
                        </td>
                        <td style="border:none;">
                            <input type="text" ng-model="data.filterOptions.filterText" class="col-xs-3 form-control input-sm" style="max-width:300px;" placeholder="ค้นหาจาก รหัส,ชื่อสินค้า,ที่เก็บ,หมายเหตุ" />
                            <button type="submit" ng-click="getStocksByFilters()" class="col-xs-2 btn btn-primary btn-sm" style="min-width:70px;margin:0px 5px;">
                                <span class="glyphicon glyphicon-search"></span> ค้นหา
                            </button>&nbsp;
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div ng-show="status!=''" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{status}}
    </div>
    <md-progress-linear ng-show="showLoading" md-mode="indeterminate"></md-progress-linear>
    <div ng-show="!showLoading" class="widget stacked widget-table action-table">
        <div class="table-responsive widget-content">
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-inverse">
                    <tr class="widget-header">
                        <th width="70px" style="text-align:center;min-width:70px">
                            <button type="submit" ng-click="addItem()" class="btn btn-success btn-xs">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </th>
                        <th width="100px" style="text-align:center;">
                            <a href="#" style="text-decoration:none;" ng-click="data.sortOptions.field = 'productNumber'; data.sortOptions.sortReverse = !data.sortOptions.sortReverse; getStocksByFilters()">
                                รหัสสินค้า
                                <span ng-show="data.sortOptions.field == 'productNumber' && data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="data.sortOptions.field == 'productNumber' && !data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                        <th style="min-width:150px;text-align:center;">
                            <a href="#" style="text-decoration:none;" ng-click="data.sortOptions.field = 'productName'; data.sortOptions.sortReverse = !data.sortOptions.sortReverse; getStocksByFilters()">
                                ชื่อสินค้า
                                <span ng-show="data.sortOptions.field == 'productName' && data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="data.sortOptions.field == 'productName' && !data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                        <th width="100px" style="text-align:center;">
                            <a href="#" style="text-decoration:none;" ng-click="data.sortOptions.field = 'balance'; data.sortOptions.sortReverse = !data.sortOptions.sortReverse; getStocksByFilters()">
                                คงเหลือ
                                <span ng-show="data.sortOptions.field == 'balance' && data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="data.sortOptions.field == 'balance' && !data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                        <th style="text-align:center;">
                            <a href="#" style="text-decoration:none;" ng-click="data.sortOptions.field = 'productUnitTypeName'; data.sortOptions.sortReverse = !data.sortOptions.sortReverse; getStocksByFilters()">
                                หน่วย
                                <span ng-show="data.sortOptions.field == 'productUnitTypeName' && data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="data.sortOptions.field == 'productUnitTypeName' && !data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                        <th width="40px" style="text-align:center;">
                            <a href="#" style="text-decoration:none;" ng-click="data.sortOptions.field = 'alertLowStock'; data.sortOptions.sortReverse = !data.sortOptions.sortReverse; getStocksByFilters()">
                                เตือน
                                <span ng-show="data.sortOptions.field == 'alertLowStock' && data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="data.sortOptions.field == 'alertLowStock' && !data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                        <th style="min-width:150px;text-align:center;">
                            <a href="#" style="text-decoration:none;" ng-click="data.sortOptions.field = 'notes'; data.sortOptions.sortReverse = !data.sortOptions.sortReverse; getStocksByFilters()">
                                สถานที่จัดเก็บ
                                <span ng-show="data.sortOptions.field == 'location' && data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="data.sortOptions.field == 'location' && !data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                        <th style="min-width:150px;text-align:center;">
                            <a href="#" style="text-decoration:none;" ng-click="data.sortOptions.field = 'notes'; data.sortOptions.sortReverse = !data.sortOptions.sortReverse; getStocksByFilters()">
                                หมายเหตุ
                                <span ng-show="data.sortOptions.field == 'notes' && data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="data.sortOptions.field == 'notes' && !data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in stocks" ng-include="getTemplate(item)"></tr>
                </tbody>
            </table>
        </div>
    </div>
    <pagination total-items="data.totalItems" items-per-page="data.pagingOptions.pageSize" ng-model="data.pagingOptions.currentPage" ng-change="getStocksByFilters()" class="pagination-sm"></pagination>
</form>

@section Scripts {
    <script type="text/ng-template" id="display">
        <td class="noPrint" style="text-align:center;vertical-align:middle;">
            <a href="" class="btn btn-warning btn-xs" ng-click="editStock(item)"><i class="glyphicon glyphicon-edit"></i></a>
            <a href="" class="btn btn-danger btn-xs" ng-click="removeStock(item)"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
        <td>{{item.product.productNumber}}</td>
        <td>{{item.product.name}}</td>
        <td style="text-align:right;">{{item.balance | number}}</td>
        <td style="text-align:center;">{{item.productUnitTypeName}}</td>
        <td style="text-align:center;">
            <input type="checkbox" ng-disabled="true" ng-model="item.alertLowStock">
        </td>
        <td class="text-overflow">{{item.location}}</td>
        <td class="text-overflow">{{item.notes}}</td>
    </script>
    <script type="text/ng-template" id="edit">
        <td class="noPrint" style="text-align:center;vertical-align:middle;">
            <a href="" class="btn btn-primary btn-xs" ng-click="updateStock($index)"><i class="glyphicon glyphicon-floppy-save"></i></a>
            <a href="" class="btn btn-warning btn-xs" ng-click="reset(item)"><i class="glyphicon glyphicon-remove"></i></a>
        </td>
        <td>
            <input type="text" style="max-width:100px;" ng-model="selected.product.productNumber" />
        </td>
        <td>
            <md-autocomplete md-min-length="0" md-selected-item="selected.product" md-search-text="productSearchText" md-items="item in getProductMatches(productSearchText)" md-item-text="item.name" class="form-control input-sm">
                <span md-highlight-text="productSearchText">{{item.name}}</span>
            </md-autocomplete>
            <span ng-show="!selected.product" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red;"></span>
        </td>
        <td style="text-align:right;">
            <input type="number" name="balance" ng-model="selected.balance" min="1" max="99999999" required class="form-control input-sm" style="text-align:right;max-width:none;">
            <span ng-show="!myForm.balance.$valid" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red;"></span>
        </td>
        <td width="100px" style="text-align:center;">{{selected.product.unitType.name}}</td>
        <td style="text-align:center;">
            <input type="checkbox" ng-model="selected.alertLowStock">
        </td>
        <td class="text-overflow">
            <input type="text" ng-model="selected.location" class="form-control input-sm" style="max-width:none;">
        </td>
        <td class="text-overflow">
            <input type="text" ng-model="selected.notes" class="form-control input-sm" style="max-width:none;">
        </td>
    </script>
}