@model StoreFertilizers.Models.Product

@{
    ViewData["Title"] = "เพิ่มข้อมูลสินค้า";
}
<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>สินค้า</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <img src="~/images/no-image.png" class="img-thumbnail" width="304" height="236">
            <input type="file" name="productImageUploaded" style="max-width:300px;" />
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">หมายเลขสินค้า</label>
            <div class="col-md-10">
                <input asp-for="ProductNumber" class="form-control" />
                <span asp-validation-for="ProductNumber" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">ชนิดสินค้า</label>
            <div class="col-md-10">
                <select asp-for="ProductTypeID" asp-items="ViewBag.ProductTypeID" class="form-control">
                    <option disabled selected>--- เลือก ---</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">ชื่อสินค้า</label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">คำอธิบาย</label>
            <div class="col-md-10">
                <input asp-for="Descr" class="form-control" />
                <span asp-validation-for="Descr" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">ราคาทุน</label>
            <div class="col-md-10">
                <input asp-for="OriginalPrice" class="form-control" />
                <span asp-validation-for="OriginalPrice" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">ราคาขาย</label>
            <div class="col-md-10">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">หน่วยสินค้า</label>
            <div class="col-md-10">
                <select asp-for="UnitTypeID" asp-items="ViewBag.UnitTypeID" class="form-control">
                    <option disabled selected>--- เลือก ---</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">หน่วยต่อแพ็ค</label>
            <div class="col-md-10">
                <input asp-for="UnitsPerPackage" class="form-control" />
                <span asp-validation-for="UnitsPerPackage" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">ตัวอักษรหน่วยต่อแพ็ค (ต.ย. ลัง*24)</label>
            <div class="col-md-10">
                <input asp-for="UnitsPerPackageText" class="form-control" />
                <span asp-validation-for="UnitsPerPackageText" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="บันทึก" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">ย้อนกลับ</a>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
