@model StoreFertilizers.Models.Product

@{
    ViewData["Title"] = "ลบสินค้า";
}

<h3>คุณแน่ใจที่จะลบข้อมูลสินค้านี้หรือไม่?</h3>
<div>
    <h4>ลบข้อมูลสินค้า</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            หมายเลขสินค้า
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductNumber)
        </dd>
        <dt>
            ชื่อสินค้า
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            คำอธิบาย
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descr)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
