@model StoreFertilizers.Models.Product

@{
    ViewData["Title"] = "ปรับปรุงสินค้า";
    string imgSrc = "~/images/no-image.png";
    if (Model.ProductImage != null)
    {
        var base64 = Convert.ToBase64String(Model.ProductImage);
        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }
}
<form asp-action="Edit" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ProductID" />
        <div class="form-group">
            <img src="@imgSrc" class="img-thumbnail" width="304" height="236">
            <input ng-model='file' type="file" name="productImageUploaded" style="max-width:300px;" />
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">หมายเลขสินค้า</label>
            <div class="col-md-10">
                <input asp-for="ProductNumber" class="form-control" />
                <span asp-validation-for="ProductNumber" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">ชนิดสินค้า</label>
            <div class="col-md-10">
                <select asp-for="ProductTypeID" asp-items="ViewBag.ProductTypeID" class="form-control">
                    <option disabled selected>--- เลือก ---</option>
                </select>
                <span asp-validation-for="ProductTypeID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">ชื่อสินค้า</label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">คำอธิบาย</label>
            <div class="col-md-10">
                <input asp-for="Descr" class="form-control" />
                <span asp-validation-for="Descr" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">ราคาทุน</label>
            <div class="col-md-10">
                <input asp-for="OriginalPrice" class="form-control" />
                <span asp-validation-for="OriginalPrice" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">ราคาขาย</label>
            <div class="col-md-10">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">หน่วยสินค้า</label>
            <div class="col-md-10">
                <select asp-for="UnitTypeID" asp-items="ViewBag.UnitTypeID" class="form-control">
                    <option disabled selected>--- เลือก ---</option>
                </select>
                <span asp-validation-for="UnitTypeID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="บันทึก" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">ย้อนกลับ</a>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
