@{
    ViewData["Title"] = "สินค้า";
}
<form name="myForm" class="form-horizontal" role="form" ng-controller="productsController">
    <br />
    <div class="row noPrint">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table borderless" style="margin:0px;">
                    <tr>
                        <td style="border:none;">
                            <input type="text" ng-model="data.filterOptions.filterText" class="col-xs-3 form-control input-sm" style="max-width:300px;" placeholder="ค้นหาจาก รหัส,ชื่อสินค้า,ที่เก็บ,หมายเหตุ" />
                            <button type="submit" ng-click="getProductsByFilters()" class="col-xs-2 btn btn-primary btn-sm" style="min-width:70px;margin:0px 5px;">
                                <span class="glyphicon glyphicon-search"></span> ค้นหา
                            </button>&nbsp;
                            <a href="#" class="btn btn-primary" onclick="window.print();"><i class="glyphicon glyphicon-print"></i> พิมพ์</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div ng-show="status!=''" class="alert alert-danger noPrint" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{status}}
    </div>
    <md-progress-linear ng-show="showLoading" md-mode="indeterminate"></md-progress-linear>
    <div ng-show="!showLoading" class="widget stacked widget-table action-table">
        <div class="table-responsive widget-content">
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-inverse">
                    <tr class="widget-header">
                        <th width="70px" class="noPrint" style="text-align:center;min-width:70px">
                            <a asp-action="Create" class="btn btn-success btn-xs" role="button">
                                <i class="glyphicon glyphicon-plus"></i>
                            </a>
                        </th>
                        <th width="100px" style="text-align:center;">
                            <a href="#" style="text-decoration:none;" ng-click="data.sortOptions.field = 'productNumber'; data.sortOptions.sortReverse = !data.sortOptions.sortReverse; getProductsByFilters()">
                                รหัสสินค้า
                                <span ng-show="data.sortOptions.field == 'productNumber' && data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="data.sortOptions.field == 'productNumber' && !data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                        <th width="120px" style="text-align:center;">
                            <a href="#" style="text-decoration:none;" ng-click="data.sortOptions.field = 'productTypeName'; data.sortOptions.sortReverse = !data.sortOptions.sortReverse; getProductsByFilters()">
                                ชนิดสินค้า
                                <span ng-show="data.sortOptions.field == 'productTypeName' && data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="data.sortOptions.field == 'productTypeName' && !data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                        <th style="min-width:150px;text-align:center;">
                            <a href="#" style="text-decoration:none;" ng-click="data.sortOptions.field = 'ProductName'; data.sortOptions.sortReverse = !data.sortOptions.sortReverse; getProductsByFilters()">
                                ชื่อสินค้า
                                <span ng-show="data.sortOptions.field == 'ProductName' && data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="data.sortOptions.field == 'ProductName' && !data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                        <th width="100px" style="text-align:center;">
                            <a href="#" style="text-decoration:none;" ng-click="data.sortOptions.field = 'price'; data.sortOptions.sortReverse = !data.sortOptions.sortReverse; getProductsByFilters()">
                                ราคาขาย
                                <span ng-show="data.sortOptions.field == 'price' && data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="data.sortOptions.field == 'price' && !data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                        <th width="140px" style="text-align:center;">
                            <a href="#" style="text-decoration:none;" ng-click="data.sortOptions.field = 'unitsPerPackageText'; data.sortOptions.sortReverse = !data.sortOptions.sortReverse; getProductsByFilters()">
                                หน่วยต่อแพ็ค
                                <span ng-show="data.sortOptions.field == 'unitsPerPackageText' && data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="data.sortOptions.field == 'unitsPerPackageText' && !data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in products">
                        <td class="noPrint" style="text-align:center;vertical-align:middle;">
                            <a href="Products/Edit/{{item.productID}}" class="btn btn-warning btn-xs"><i class="glyphicon glyphicon-edit"></i></a>
                            <a href="Products/Delete/{{item.productID}}" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i></a>
                        </td>
                        <td>{{item.productNumber}}</td>
                        <td>{{item.productTypeName}}</td>
                        <td>{{item.productName}}</td>
                        <td style="text-align:right;">{{item.price | number}}</td>
                        <td style="text-align:center;">{{item.unitsPerPackageText}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <pagination total-items="data.totalItems" items-per-page="data.pagingOptions.pageSize" ng-model="data.pagingOptions.currentPage" ng-change="getProductsByFilters()" class="pagination-sm noPrint"></pagination>
</form>