@{
    ViewData["Title"] = "สรุปยอดขาย";
}
<form name="myForm" class="form-horizontal" role="form" ng-controller="salesSummaryController">
    <br />
    <div class="row">
        <div class="panel panel-default" style="margin:0px;">
            <div class="panel-body">
                <table class="table borderless" style="margin:0px;">
                    <tr>
                        <td width="200px" style="border:none;">
                            <input type="text" class="col-xs-3 form-control input-sm" style="max-width:none;" ng-model="data.filterOptions.filterText" placeholder="ค้นหาจาก เลขที่,ผู้ซื้อ,หมายเหตุ" />
                        </td>
                        <td width="90px" style="border:none;vertical-align:middle;padding-left:0px;padding-right:0px;">
                            <span for="isTax">บิลทั่วไป/ภาษี:</span>
                        </td>
                        <td width="100px" style="border:none;vertical-align:middle;padding-left:0px;padding-right:0px;">
                            <select class="form-control input-sm display-inline" ng-model='data.filterOptions.isTax' style="max-width:80px;">
                                <option value="notax">ทั่วไป</option>
                                <option value="tax">ภาษี</option>
                                <option value="">ทั้งหมด</option>
                            </select>
                        </td>
                        <td width="55px" style="border:none;vertical-align:middle;padding-left:0px;padding-right:0px;">สรุปยอด:</td>
                        <td width="90px" style="border:none;vertical-align:middle;padding-left:0px;">
                            <select class="form-control input-sm display-inline" ng-model='data.filterOptions.sumIn' ng-change="sumInChange(data.filterOptions.sumIn)" style="max-width:100px;">
                                <option value="today">วันนี้</option>
                                <option value="past7">7 วัน</option>
                                <option value="past30">30 วัน</option>
                            </select>
                        </td>
                        <td width="140px" style="border:none;padding-left:0px;padding-right:0px;">
                            <div class='datepicker input-group date' style="max-width:139px;">
                                <input type='text' customdatepicker ng-model="data.filterOptions.fromCreatedDate" class="form-control input-sm" style="max-width:100px;" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </td>
                        <td width="30px" style="text-align:center;vertical-align:middle;border:none;padding-left:0px;padding-right:0px;">ถึง</td>
                        <td width="140px" style="border:none;padding-left:0px;padding-right:0px;">
                            <div class='datepicker input-group date' style="max-width:139px;">
                                <input type='text' customdatepicker ng-model="data.filterOptions.toCreatedDate" class="form-control input-sm" style="max-width:100px;" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </td>
                        <td style="border:none;vertical-align:middle;">
                            <button type="submit" ng-click="updateViewByFilters()" class="col-xs-2 btn btn-primary btn-sm" style="width:120px;">
                                <span class="glyphicon glyphicon-search"></span> ค้นหา
                            </button>&nbsp;
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div ng-show="status!=''" class="row alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{status}}
    </div>
    <md-progress-linear ng-show="showLoading" md-mode="indeterminate"></md-progress-linear>
    <div class="row" style="padding-top:10px;">
        <div class="col-xs-6" style="padding-left:5px;padding-right:5px;">
            <div class="panel panel-primary" style="margin:0px;">
                <div class="panel-heading" style="min-height:100px;">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div style="font-size: 40px;">{{data.totalNetAmount | number:2}}</div>
                            <div>รวมยอดขาย</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3" style="padding-left:5px;padding-right:5px;">
            <div class="panel panel-warning" style="margin:0px;">
                <div class="panel-heading" style="min-height:100px;">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div style="font-size: 40px;">{{data.totalItems}}</div>
                            <div>บิลทั้งหมด</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3" style="padding-left:5px;padding-right:5px;">
            <div class="panel panel-success" style="margin:0px;">
                <div class="panel-heading" style="min-height:100px;">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div style="font-size: 40px;">{{data.totalProductDetails}}</div>
                            <div>สินค้าทั้งหมด</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="ตารางใบรายการส่งของ">
                <div class="widget stacked widget-table action-table">
                    <div class="table-responsive widget-content">
                        <table class="table table-bordered table-striped table-hover">
                            <thead class="thead-inverse">
                                <tr class="widget-header">
                                    <th width="40px" style="text-align:center;"></th>
                                    <th width="100px" style="text-align:center;">
                                        <a href="#" style="text-decoration:none;" ng-click="data.sortOptions.field = 'createdDate'; data.sortOptions.sortReverse = !data.sortOptions.sortReverse; getInvoicesByFilters()">
                                            วันที่
                                            <span ng-show="data.sortOptions.field == 'createdDate' && !data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                            <span ng-show="data.sortOptions.field == 'createdDate' && data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                                        </a>
                                    </th>
                                    <th width="70px" style="text-align:center;">
                                        <a href="#" style="text-decoration:none;" ng-click="data.sortOptions.field = 'isTax'; data.sortOptions.sortReverse = !data.sortOptions.sortReverse; getInvoicesByFilters()">
                                            ภาษี
                                            <span ng-show="data.sortOptions.field == 'isTax' && data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                            <span ng-show="data.sortOptions.field == 'isTax' && !data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                                        </a>
                                    </th>
                                    <th width="120px" style="text-align:center;">
                                        <a href="#" style="text-decoration:none;" ng-click="data.sortOptions.field = 'invoiceNumber'; data.sortOptions.sortReverse = !data.sortOptions.sortReverse; getInvoicesByFilters()">
                                            เลขที่
                                            <span ng-show="data.sortOptions.field == 'invoiceNumber' && data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                            <span ng-show="data.sortOptions.field == 'invoiceNumber' && !data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                                        </a>
                                    </th>
                                    <th style="min-width:150px;text-align:center;">
                                        <a href="#" style="text-decoration:none;" ng-click="data.sortOptions.field = 'customerName'; data.sortOptions.sortReverse = !data.sortOptions.sortReverse; getInvoicesByFilters()">
                                            ผู้ซื้อ
                                            <span ng-show="data.sortOptions.field == 'customerName' && data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                            <span ng-show="data.sortOptions.field == 'customerName' && !data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                                        </a>
                                    </th>
                                    <th width="100px" style="text-align:center;">
                                        <a href="#" style="text-decoration:none;" ng-click="data.sortOptions.field = 'netTotal'; data.sortOptions.sortReverse = !data.sortOptions.sortReverse; getInvoicesByFilters()">
                                            จำนวนเงิน
                                            <span ng-show="data.sortOptions.field == 'netTotal' && data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                            <span ng-show="data.sortOptions.field == 'netTotal' && !data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                                        </a>
                                    </th>
                                    <th width="70px" style="text-align:center;">
                                        <a href="#" style="text-decoration:none;" ng-click="data.sortOptions.field = 'paid'; data.sortOptions.sortReverse = !data.sortOptions.sortReverse; getInvoicesByFilters()">
                                            ชำระ
                                            <span ng-show="data.sortOptions.field == 'paid' && data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                            <span ng-show="data.sortOptions.field == 'paid' && !data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                                        </a>
                                    </th>
                                    <th width="100px" style="text-align:center;">
                                        <a href="#" style="text-decoration:none;" ng-click="data.sortOptions.field = 'dueDate'; data.sortOptions.sortReverse = !data.sortOptions.sortReverse; getInvoicesByFilters()">
                                            ครบกำหนด
                                            <span ng-show="data.sortOptions.field == 'dueDate' && data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                            <span ng-show="data.sortOptions.field == 'dueDate' && !data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in invoices">
                                    <td class="noPrint" style="text-align:center;vertical-align:middle;">
                                        <a href="Invoices/Edit/{{item.invoiceID}}?isTax={{item.isTax}}" class="btn btn-warning btn-xs"><i class="glyphicon glyphicon-edit"></i></a>
                                    </td>
                                    <td style="text-align:center;">{{item.createdDate | date: 'dd/MM/yyyy'}}</td>
                                    <td style="text-align:center;">
                                        <input type="checkbox" ng-disabled="true" ng-model="item.isTax">
                                    </td>
                                    <td style="text-align:center;">{{item.invoiceNumber}}</td>
                                    <td>{{item.customerName}}</td>
                                    <td style="text-align:right;">{{item.netTotal | number:2}}</td>
                                    <td style="text-align:center;">
                                        <input type="checkbox" ng-disabled="true" ng-model="item.paid">
                                    </td>
                                    <td style="text-align:center;">{{item.dueDate | date: 'dd/MM/yyyy'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <pagination total-items="data.totalItems" items-per-page="data.pagingOptions.pageSize" ng-model="data.pagingOptions.currentPage" ng-change="getInvoicesByFilters()" class="pagination-sm"></pagination>
            </md-tab>
            <md-tab label="ตารางรายการสินค้า">
                <div class="widget stacked widget-table action-table">
                    <div class="table-responsive widget-content">
                        <table class="table table-bordered table-striped table-hover">
                            <thead class="thead-inverse">
                                <tr class="widget-header">
                                    <th width="40px" style="text-align:center;">
                                        <input type="checkbox" ng-model="data.toggleOptions.itemGroupping" ng-click="data.toggleOptions.itemGroupping == !data.toggleOptions.itemGroupping">
                                    </th>
                                    <th width="100px" style="text-align:center;">
                                        <a href="#" style="text-decoration:none;" ng-click="data.sortOptions.fieldDetails = 'createdDate'; data.sortOptions.sortReverseDetails = !data.sortOptions.sortReverseDetails; getInvoiceDetailsByFilters()">
                                            วันที่
                                            <span ng-show="data.sortOptions.fieldDetails == 'createdDate' && !data.sortOptions.sortReverseDetails" class="glyphicon glyphicon-chevron-down"></span>
                                            <span ng-show="data.sortOptions.fieldDetails == 'createdDate' && data.sortOptions.sortReverseDetails" class="glyphicon glyphicon-chevron-up"></span>
                                        </a>
                                    </th>
                                    <th width="120px" style="text-align:center;">
                                        <a href="#" style="text-decoration:none;" ng-click="data.sortOptions.fieldDetails = 'productTypeName'; data.sortOptions.sortReverseDetails = !data.sortOptions.sortReverseDetails; getInvoiceDetailsByFilters()">
                                            ชนิดสินค้า
                                            <span ng-show="data.sortOptions.fieldDetails == 'productTypeName' && data.sortOptions.sortReverseDetails" class="glyphicon glyphicon-chevron-down"></span>
                                            <span ng-show="data.sortOptions.fieldDetails == 'productTypeName' && !data.sortOptions.sortReverseDetails" class="glyphicon glyphicon-chevron-up"></span>
                                        </a>
                                    </th>
                                    <th style="min-width:150px;text-align:center;">
                                        <a href="#" style="text-decoration:none;" ng-click="data.sortOptions.fieldDetails = 'productName'; data.sortOptions.sortReverseDetails = !data.sortOptions.sortReverseDetails; getInvoiceDetailsByFilters()">
                                            ชื่อสินค้า
                                            <span ng-show="data.sortOptions.fieldDetails == 'productName' && data.sortOptions.sortReverseDetails" class="glyphicon glyphicon-chevron-down"></span>
                                            <span ng-show="data.sortOptions.fieldDetails == 'productName' && !data.sortOptions.sortReverseDetails" class="glyphicon glyphicon-chevron-up"></span>
                                        </a>
                                    </th>
                                    <th width="100px" style="text-align:center;">
                                        <a href="#" style="text-decoration:none;" ng-click="data.sortOptions.fieldDetails = 'qty'; data.sortOptions.sortReverseDetails = !data.sortOptions.sortReverseDetails; getInvoiceDetailsByFilters()">
                                            จำนวน
                                            <span ng-show="data.sortOptions.fieldDetails == 'qty' && data.sortOptions.sortReverseDetails" class="glyphicon glyphicon-chevron-down"></span>
                                            <span ng-show="data.sortOptions.fieldDetails == 'qty' && !data.sortOptions.sortReverseDetails" class="glyphicon glyphicon-chevron-up"></span>
                                        </a>
                                    </th>
                                    <th width="90px" style="text-align:center;">
                                        <a href="#" style="text-decoration:none;" ng-click="data.sortOptions.fieldDetails = 'productUnitTypeName'; data.sortOptions.sortReverseDetails = !data.sortOptions.sortReverseDetails; getInvoiceDetailsByFilters()">
                                            หน่วย
                                            <span ng-show="data.sortOptions.fieldDetails == 'productUnitTypeName' && data.sortOptions.sortReverseDetails" class="glyphicon glyphicon-chevron-down"></span>
                                            <span ng-show="data.sortOptions.fieldDetails == 'productUnitTypeName' && !data.sortOptions.sortReverseDetails" class="glyphicon glyphicon-chevron-up"></span>
                                        </a>
                                    </th>
                                    <th style="text-align:center;min-width:100px;">
                                        <a href="#" style="text-decoration:none;" ng-click="data.sortOptions.fieldDetails = 'pricePerUnit'; data.sortOptions.sortReverseDetails = !data.sortOptions.sortReverseDetails; getInvoiceDetailsByFilters()">
                                            ราคาต่อหน่วย
                                            <span ng-show="data.sortOptions.fieldDetails == 'pricePerUnit' && data.sortOptions.sortReverseDetails" class="glyphicon glyphicon-chevron-down"></span>
                                            <span ng-show="data.sortOptions.fieldDetails == 'pricePerUnit' && !data.sortOptions.sortReverseDetails" class="glyphicon glyphicon-chevron-up"></span>
                                        </a>
                                    </th>
                                    <th width="100px" style="text-align:center;">
                                        <a href="#" style="text-decoration:none;" ng-click="data.sortOptions.fieldDetails = 'discount'; data.sortOptions.sortReverseDetails = !data.sortOptions.sortReverseDetails; getInvoiceDetailsByFilters()">
                                            ส่วนลด%
                                            <span ng-show="data.sortOptions.fieldDetails == 'discount' && data.sortOptions.sortReverseDetails" class="glyphicon glyphicon-chevron-down"></span>
                                            <span ng-show="data.sortOptions.fieldDetails == 'discount' && !data.sortOptions.sortReverseDetails" class="glyphicon glyphicon-chevron-up"></span>
                                        </a>
                                    </th>
                                    <th style="min-width:100px;text-align:center;">
                                        <a href="#" style="text-decoration:none;" ng-click="data.sortOptions.fieldDetails = 'amount'; data.sortOptions.sortReverseDetails = !data.sortOptions.sortReverseDetails; getInvoiceDetailsByFilters()">
                                            จำนวนเงิน
                                            <span ng-show="data.sortOptions.fieldDetails == 'amount' && data.sortOptions.sortReverseDetails" class="glyphicon glyphicon-chevron-down"></span>
                                            <span ng-show="data.sortOptions.fieldDetails == 'amount' && !data.sortOptions.sortReverseDetails" class="glyphicon glyphicon-chevron-up"></span>
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="item in invoiceDetails" ng-show="data.totalItems > 0">                                
                                <tr ng-show="data.toggleOptions.itemGroupping">
                                    <td class="noPrint" style="text-align:center;vertical-align:middle;">
                                        <button type="button" ng-click="data.toggleOptions.itemID = item.productID; data.toggleOptions.itemCollape = !data.toggleOptions.itemCollape;" class="btn btn-success btn-xs">
                                            <span class="glyphicon glyphicon-collapse-down"></span>
                                        </button>
                                    </td>
                                    <td colspan="3"><strong>{{item.productTypeName}} - {{item.productName}}</strong></td>
                                    <td style="text-align:right;"><strong>{{item.sumQty}}</strong></td>
                                    <td style="text-align:center;"><strong>{{item.productUnitTypeName}}</strong></td>
                                    <td style="text-align:right;"></td>
                                    <td style="text-align:center;"></td>
                                    <td style="text-align:right;"><strong>{{item.sumAmount | number:2}}</strong></td>
                                </tr>
                                <tr ng-show="(data.toggleOptions.itemID == itemDetail.productID && data.toggleOptions.itemCollape) || (!data.toggleOptions.itemGroupping)" ng-repeat="itemDetail in item.fullDetails">
                                    <td class="noPrint" style="text-align:center;vertical-align:middle;">
                                        <a href="Invoices/Edit/{{itemDetail.invoiceID}}" class="btn btn-warning btn-xs"><i class="glyphicon glyphicon-info-sign"></i></a>
                                    </td>
                                    <td style="text-align:center;">{{itemDetail.createdDate | date: 'dd/MM/yyyy'}}</td>
                                    <td style="text-align:center;">{{itemDetail.productTypeName}}</td>
                                    <td>{{itemDetail.productName}}</td>
                                    <td style="text-align:right;">{{itemDetail.qty}}</td>
                                    <td style="text-align:center;">{{itemDetail.productUnitTypeName}}</td>
                                    <td style="text-align:right;">{{itemDetail.pricePerUnit | number:2}}</td>
                                    <td style="text-align:center;">{{itemDetail.discount}}</td>
                                    <td style="text-align:right;">{{itemDetail.amount | number:2}}</td>
                                </tr>
                            </tbody>
                            <tbody ng-show="data.totalItems == 0">
                                <tr>
                                    <td colspan="9">ไม่พบข้อมูล</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <pagination total-items="data.totalItemsDetails" items-per-page="data.pagingOptions.pageSize" ng-model="data.pagingOptions.currentPageDetails" ng-change="getInvoiceDetailsByFilters()" class="pagination-sm"></pagination>
            </md-tab>
            <md-tab label="กราฟ">
                <md-content class="md-padding">
                    <div id="morris-area-chart">
                        <canvas id="line" class="chart chart-line" chart-data="lineChartData"
                                chart-labels="lineChartLabels" chart-legend="true" chart-series="lineChartSeries"></canvas>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
</form>
