@model StoreFertilizers.Models.Provider

@{
    ViewData["Title"] = "แก้ไข";
}

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>ผู้จัดหา</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ProviderID" />
        <div class="form-group">
            <label asp-for="CompanyNumber" class="col-md-2 control-label">รหัส</label>
            <div class="col-md-10">
                <input asp-for="CompanyNumber" class="form-control" />
                <span asp-validation-for="CompanyNumber" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label">ชื่อ</label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Address" class="col-md-2 control-label">ที่อยู่</label>
            <div class="col-md-10">
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Phone1" class="col-md-2 control-label">เบอร์โทรศัพท์</label>
            <div class="col-md-10">
                <input asp-for="Phone1" class="form-control" />
                <span asp-validation-for="Phone1" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Fax" class="col-md-2 control-label">แฟกซ์</label>
            <div class="col-md-10">
                <input asp-for="Fax" class="form-control" />
                <span asp-validation-for="Fax" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label">อีเมลล์</label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="บันทึก" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">ย้อนกลับ</a>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
