@model StoreFertilizers.Models.InvoiceDetails

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>InvoiceDetails</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="InvoiceDetailsID" />
        <div class="form-group">
            <label asp-for="Amount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Article" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Article" class="form-control" />
                <span asp-validation-for="Article" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Discount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ExpectedProfit" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ExpectedProfit" class="form-control" />
                <span asp-validation-for="ExpectedProfit" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="InvoiceID" class="control-label col-md-2">InvoiceID</label>
            <div class="col-md-10">
                <select asp-for="InvoiceID" class="form-control" />
                <span asp-validation-for="InvoiceID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PricePerUnit" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PricePerUnit" class="form-control" />
                <span asp-validation-for="PricePerUnit" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProductID" class="control-label col-md-2">ProductID</label>
            <div class="col-md-10">
                <select asp-for="ProductID" class="form-control" />
                <span asp-validation-for="ProductID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Qty" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Qty" class="form-control" />
                <span asp-validation-for="Qty" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UnitTypeID" class="control-label col-md-2">UnitTypeID</label>
            <div class="col-md-10">
                <select asp-for="UnitTypeID" class="form-control" />
                <span asp-validation-for="UnitTypeID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
