@model StoreFertilizers.Models.ProductType

@{
    ViewData["Title"] = "แก้ไข";
}

<h2>แก้ไข</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>ชนิดสินค้า</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ProductTypeID" />
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label">ชื่อ</label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Descr" class="col-md-2 control-label">คำอธิบายเพิ่มเติม</label>
            <div class="col-md-10">
                <input asp-for="Descr" class="form-control" />
                <span asp-validation-for="Descr" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="บันทึก" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">ย้อนกลับ</a>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
