<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - ขายปุ๋ยและน้ำยา</title>

        <environment names="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" media="all"/>
            <link rel="stylesheet" href="~/lib/datepicker-thai/css/datepicker.css" />
            <link rel="stylesheet" href="~/lib/angular-material/angular-material.css" />
            <link rel="stylesheet" href="~/css/site.css" />
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/jquery-ui/jquery-ui.js"></script>
            <script src="~/lib/angular/angular.js"></script>
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" media="all" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
            <link rel="stylesheet" href="~/lib/angular-material/angular-material.min.css" />
            <link rel="stylesheet" href="~/lib/datepicker-thai/css/datepicker.css" />
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/jquery-ui/jquery-ui.js"></script>
            <script src="~/lib/angular/angular.js"></script>
        </environment>
    </head>
    <body ng-cloak>
        <div class="navbar navbar-custom navbar-fixed-top" >
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand" style="color: white;font-weight: bold;"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> หจก.เจริญถาวร</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if (Context.Request.Path.Value.Equals(@"/"))
                        {
                            <text>
                            <li class="active">
                            </text>
                        }
                        else
                        {
                            <text>
                            <li>
                            </text>
                        }
                        <a asp-controller="Home" asp-action="Index" style="color: white;font-weight: bold;">หน้าแรก</a></li>
                        @if (Context.Request.Path.Value.Contains("Invoices"))
                        {
                            <text>
                            <li class="active">
                            </text>
                        }
                        else
                        {
                            <text>
                            <li>
                            </text>
                        }
                        <a asp-controller="Invoices" asp-action="Index" style="color: white;font-weight: bold;">ขายสินค้า</a></li>
                        @if (Context.Request.Path.Value.Contains("Stock"))
                        {
                            <text>
                            <li class="active">
                                </text>
                        }
                        else
                        {
                            <text>
                        <li>
                            </text>
                        }<a asp-controller="Stocks" asp-action="Index" style="color: white;font-weight: bold;">คลังสินค้า</a></li>
                        @if (Context.Request.Path.Value.Contains("SummaryOfSale"))
                        {
                            <text>
                            <li class="active">
                                </text>
                        }
                        else
                        {
                            <text>
                        <li>
                            </text>
                        }<a asp-controller="Home" asp-action="SummaryOfSale" style="color: white;font-weight: bold;">สรุปยอด</a></li>
                        @if (Context.Request.Path.Value.Contains("SettingOfApplication"))
                        {
                            <text>
                                <li class="dropdown active">
                            </text>
                        }
                        else
                        {
                            <text>  
                            <li class="dropdown">
                            </text>
                         }<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: white;font-weight: bold;">ตั้งค่า <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Home" asp-action="SettingOfApplication">ทั่วไป</a></li>
                                <li><a asp-controller="Home" asp-action="SettingOfApplication">แก้ไขรายละเอียดลูกค้า</a></li>
                                <li><a asp-controller="Home" asp-action="SettingOfApplication">แก้ไขชนิดปุ๋ยน้ำยา</a></li>
                            </ul>
                        </li>
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <!--
            <hr />
            <footer>
                <p>&copy; 2016 - หจก.เจริญถาวร</p>
            </footer>
            -->
        </div>

        <environment names="Development">
            <script src="~/lib/angular-resource/angular-resource.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/lib/datepicker-thai/js/bootstrap-datepicker.js"></script>
            <script src="~/lib/datepicker-thai/js/bootstrap-datepicker-thai.js"></script>
            <script src="~/lib/datepicker-thai/js/locales/bootstrap-datepicker.th.js" charset="UTF-8"></script>
            <script src="~/lib/angular-animate/angular-animate.min.js"></script>
            <script src="~/lib/angular-aria/angular-aria.min.js"></script>
            <script src="~/lib/angular-material/angular-material.min.js"></script>
            <script src="~/js/app.js" asp-append-version="true"></script>
            <script src="~/js/app/services/servicesFactory.js"></script>
            <script src="~/js/app/controllers/invoicesController.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="~/lib/angular-resource/angular-resource.js"></script>
            <script src="~/lib/datepicker-thai/js/bootstrap-datepicker.js"></script>
            <script src="~/lib/datepicker-thai/js/bootstrap-datepicker-thai.js"></script>
            <script src="~/lib/datepicker-thai/js/locales/bootstrap-datepicker.th.js" charset="UTF-8"></script>
            <script src="~/lib/angular-animate/angular-animate.min.js"></script>
            <script src="~/lib/angular-aria/angular-aria.min.js"></script>
            <script src="~/lib/angular-material/angular-material.min.js"></script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("scripts", required: false)

        <script type="text/javascript">
            /*
            $.fn.datepicker.dates['en'] = {
                //format: 'dd/mm/yyyy',
                days: ["อาทิตย์", "จันทร์", "อังคาร", "พุธ", "พฤหัส", "ศุกร์", "เสาร์", "อาทิตย์"],
                daysShort: ["อา", "จ", "อ", "พ", "พฤ", "ศ", "ส", "อา"],
                daysMin: ["อา", "จ", "อ", "พ", "พฤ", "ศ", "ส", "อา"],
                months: ["มกราคม", "กุมภาพันธ์", "มีนาคม", "เมษายน", "พฤษภาคม", "มิถุนายน", "กรกฎาคม", "สิงหาคม", "กันยายน", "ตุลาคม", "พฤศจิกายน", "ธันวาคม"],
                monthsShort: ["ม.ค.", "ก.พ.", "มี.ค.", "เม.ย.", "พ.ค.", "มิ.ย.", "ก.ค.", "ส.ค.", "ก.ย.", "ต.ค.", "พ.ย.", "ธ.ค."],
                today: "วันนี้"
            };
            */
            /*
            $(function () {
                var datePicker = $('.datepicker');
                if (!!datePicker.datepicker)
                {
                    datePicker.datepicker({
                        //language: 'th-th',
                        format: 'dd/mm/yyyy',
                        setDate: new Date(),
                        autoclose: true
                    });
                }
            });
            */
        </script>

    </body>
</html>
