<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - ขายปุ๋ยและน้ำยา</title>

        <environment names="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" media="all"/>
            <link rel="stylesheet" href="~/lib/angular-chart.js/dist/angular-chart.min.css" />
            <link rel="stylesheet" href="~/lib/angular-material/angular-material.css" />
            <link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
            <link rel="stylesheet" href="~/css/site.css" />
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/angular/angular.min.js"></script>
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" media="all" />
            <link rel="stylesheet" href="~/lib/angular-chart.js/dist/angular-chart.min.css" />
            <link rel="stylesheet" href="~/lib/angular-material/angular-material.min.css" />
            <link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
            <link rel="stylesheet" href="~/css/site.css" />
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/angular/angular.min.js"></script>
        </environment>
    </head>
    <body ng-cloak>
        <div class="navbar navbar-custom navbar-fixed-top" >
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand" style="color: white;font-weight: bold;"><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> หจก.เจริญถาวร</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if (Context.Request.Path.Value.Equals(@"/"))
                        {
                            <text>
                            <li class="active">
                            </text>
                        }
                        else
                        {
                            <text>
                            <li>
                            </text>
                        }
                        <a asp-controller="Home" asp-action="Index" style="color: white;font-weight: bold;">หน้าแรก</a></li>
                        @if (Context.Request.Path.Value.Equals(@"/Purchases"))
                        {
                            <text>
                            <li class="active">
                            </text>
                        }
                        else
                        {
                            <text>
                            <li>
                            </text>
                        }
                        <a asp-controller="Purchases" asp-action="Index" style="color: white;font-weight: bold;">ซื้อสินค้า</a>
                    </li>
                        @if (Context.Request.Path.Value.Contains("/Invoices"))
                        {
                            <text>
                            <li class="active">
                            </text>
                        }
                        else
                        {
                            <text>
                            <li>
                            </text>
                        }                                
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: white;font-weight: bold;">ขายสินค้า <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a asp-controller="Invoices" asp-action="Create" asp-all-route-data='new Dictionary<string,string> { { "isTax", "false" } }'>ทั่วไป</a></li>
                                    <li><a asp-controller="Invoices" asp-action="Create" asp-all-route-data='new Dictionary<string,string> { { "isTax", "true" } }'>บิลภาษี</a></li>
                                    <li><a asp-controller="Invoices" asp-action="Index">หน้าหลัก</a></li>
                                </ul>
                            </li>
                        @if (Context.Request.Path.Value.Contains("/Stock"))
                        {
                            <text>
                            <li class="active">
                                </text>
                        }
                        else
                        {
                            <text>
                        <li>
                            </text>
                        }<a asp-controller="Stocks" asp-action="Index" style="color: white;font-weight: bold;">คลังสินค้า</a></li>
                        @if (Context.Request.Path.Value.Contains("/SalesSummary"))
                        {
                            <text>
                            <li class="active">
                                </text>
                        }
                        else
                        {
                            <text>
                        <li>
                            </text>
                        }<a asp-controller="SalesSummary" asp-action="Index" style="color: white;font-weight: bold;">สรุปยอด</a></li>
                        @if (Context.Request.Path.Value.Contains("/SettingOfApplication"))
                        {
                            <text>
                                <li class="dropdown active">
                            </text>
                        }
                        else
                        {
                            <text>  
                            <li class="dropdown">
                            </text>
                         }<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: white;font-weight: bold;">ตั้งค่า <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="ProductTypes" asp-action="Index">ชนิดสินค้า</a></li>
                                <li><a asp-controller="Products" asp-action="Index">สินค้า</a></li>
                                <li><a asp-controller="Customers" asp-action="Index">ลูกค้า</a></li>
                                <li><a asp-controller="Providers" asp-action="Index">ผู้จัดหา</a></li>
                                <li><a asp-controller="UnitTypes" asp-action="Index">หน่วย</a></li>
                            </ul>
                        </li>
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container-fluid body-content">
            @RenderBody()            
            <hr class="noPrint"/>
            <footer class="noPrint">
                <p>&copy; 2016 - หจก.เจริญถาวร</p>
            </footer>
        </div>

        <environment names="Development">
            <script src="~/lib/angular-resource/angular-resource.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="/lib/angular-route/angular-route.min.js"></script>
            <script src="~/lib/angular-animate/angular-animate.min.js"></script>
            <script src="~/lib/angular-aria/angular-aria.min.js"></script>
            <script src="~/lib/angular-material/angular-material.min.js"></script>
            <script src="~/lib/moment/moment.js"></script>
            <script src="~/lib/Chart.js/Chart.js"></script>
            <script src="~/lib/angular-chart.js/dist/angular-chart.min.js"></script>
            <script src="~/lib/angular-ui-bootstrap-pagination/pagination.js"></script>
            <script src="~/lib/moment/locale/th.js"></script>
            <script src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

            <script src="~/app/app.js" asp-append-version="true"></script>
            <script src="~/app/services/servicesFactory.js"></script>
            <script src="~/app/shared/customdatepicker.js"></script>
            <script src="~/app/components/invoices/invoicesController.js"></script>
            <script src="~/app/components/invoices/invoicesIndexController.js"></script>
            <script src="~/app/components/dashboard/dashboardController.js"></script>
            <script src="~/app/components/purchases/purchasesController.js"></script>
            <script src="~/app/components/stocks/stocksController.js"></script>
            <script src="~/app/components/salesSummary/salesSummaryController.js"></script>
            <script src="~/app/components/products/productsController.js"></script>
            <script src="~/app/components/customers/customersController.js"></script>
            <script src="~/app/components/providers/providersController.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="/lib/angular-route/angular-route.min.js"></script>
            <script src="~/lib/angular-resource/angular-resource.js"></script>
            <script src="~/lib/angular-animate/angular-animate.min.js"></script>
            <script src="~/lib/angular-aria/angular-aria.min.js"></script>
            <script src="~/lib/angular-material/angular-material.min.js"></script>
            <script src="~/lib/moment/min/moment.min.js"></script>
            <script src="~/lib/Chart.js/Chart.js"></script>
            <script src="~/lib/angular-chart.js/dist/angular-chart.min.js"></script>
            <script src="~/lib/angular-ui-bootstrap-pagination/pagination.js"></script>
            <script src="~/lib/moment/locale/th.js"></script>
            <script src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

            <script src="~/app/app.js" asp-append-version="true"></script>
            <script src="~/app/services/servicesFactory.js"></script>
            <script src="~/app/shared/customdatepicker.js"></script>
            <script src="~/app/components/invoices/invoicesController.js"></script>
            <script src="~/app/components/invoices/invoicesIndexController.js"></script>
            <script src="~/app/components/dashboard/dashboardController.js"></script>
            <script src="~/app/components/purchases/purchasesController.js"></script>
            <script src="~/app/components/stocks/stocksController.js"></script>
            <script src="~/app/components/salesSummary/salesSummaryController.js"></script>
            <script src="~/app/components/products/productsController.js"></script>
            <script src="~/app/components/customers/customersController.js"></script>
            <script src="~/app/components/providers/providersController.js"></script>
            @*<script src="~/js/site.min.js" asp-append-version="true"></script>*@
        </environment>

        @RenderSection("scripts", required: false)

        <script type="text/javascript">
            /*
            $.fn.datepicker.dates['en'] = {
                //format: 'dd/mm/yyyy',
                days: ["อาทิตย์", "จันทร์", "อังคาร", "พุธ", "พฤหัส", "ศุกร์", "เสาร์", "อาทิตย์"],
                daysShort: ["อา", "จ", "อ", "พ", "พฤ", "ศ", "ส", "อา"],
                daysMin: ["อา", "จ", "อ", "พ", "พฤ", "ศ", "ส", "อา"],
                months: ["มกราคม", "กุมภาพันธ์", "มีนาคม", "เมษายน", "พฤษภาคม", "มิถุนายน", "กรกฎาคม", "สิงหาคม", "กันยายน", "ตุลาคม", "พฤศจิกายน", "ธันวาคม"],
                monthsShort: ["ม.ค.", "ก.พ.", "มี.ค.", "เม.ย.", "พ.ค.", "มิ.ย.", "ก.ค.", "ส.ค.", "ก.ย.", "ต.ค.", "พ.ย.", "ธ.ค."],
                today: "วันนี้"
            };
            */
            /*
            $(function () {
                var datePicker = $('.datepicker');
                if (!!datePicker.datepicker)
                {
                    datePicker.datepicker({
                        //language: 'th-th',
                        format: 'dd/mm/yyyy',
                        setDate: new Date(),
                        autoclose: true
                    });
                }
            });
            */
            $(function () {
                $('.datepicker').datetimepicker({
                    locale: 'th',
                    format: 'DD/MM/YYYY'
                });
            });
        </script>

    </body>
</html>
