<form name="myForm" class="form-horizontal" role="form" ng-controller="invoicesController">
    <div ng-show="!data.printMode" id="invoiceNormalMode">
        <div class="remove-bottom-margin">
            <div class="col-xs-6" style="padding:2px;">
                <div class="rounded-div" style="min-height:150px;">
                    <div class="row remove-bottom-margin">
                        <label class="control-label col-xs-2" style="min-width:80px;">ลูกค้า</label>
                        <div class='col-xs-10'>
                            <div style="max-width:350px">
                                <md-autocomplete md-min-length="0" md-selected-item="newInvoice.customer" md-search-text="customerSearchText" md-items="item in getCustomerMatches(customerSearchText)" md-item-text="item.name" class="form-control input-sm">
                                    <span md-highlight-text="customerSearchText">{{item.name}}</span>
                                </md-autocomplete>
                                <span ng-show="!newInvoice.customer" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red;"></span>
                                <input ng-show="!!newInvoice.customer && newInvoice.customer.name == 'อื่นๆ'" type="text" class="form-control input-sm" ng-model="newInvoice.customerName" placeholder="ชื่อลูกค้า" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row remove-bottom-margin">
                        <div class='col-xs-12'>
                            <div class="form-group row remove-bottom-margin">
                                <label class="control-label col-xs-2" style="min-width:80px;padding-top:0px;"><strong>ที่อยู่</strong></label>
                                <div class='col-xs-9'>
                                    {{newInvoice.customer.address}}
                                </div>
                            </div>
                        </div>
                        <div class='col-xs-12'>
                            <div class="form-group row remove-bottom-margin">
                                <label class="control-label col-xs-2" style="min-width:80px;padding-top:0px;"><strong>โทรศัพท์</strong></label>
                                <div class='col-xs-4'>
                                    {{newInvoice.customer.phone1}}
                                </div>
                                <label class="control-label col-xs-2" style="min-width:80px;padding-top:0px;"><strong>โทรสาร</strong></label>
                                <div class='col-xs-4'>
                                    {{newInvoice.customer.fax}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row remove-bottom-margin">
                        <label class="control-label col-xs-2" style="min-width:80px;">ส่งที่</label>
                        <div class='col-xs-10'>
                            <input type="text" id="invoice-shipto" class="form-control input-sm" ng-model="newInvoice.shipTo" placeholder="สถานที่จัดส่งสินค้า" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4" style="padding:2px;">
                <div class="rounded-div" style="min-height:150px;">
                    <div class="form-group">
                        <label class="col-xs-3 control-label" style="min-width:80px">เลขที่:</label>
                        <input type="text" id="invoice-InvoiceNumber" class="col-xs-9 form-control input-sm" ng-model="newInvoice.invoiceNumber" placeholder="หมายเลขใบกำกับสินค้า" />
                        <span ng-show="!newInvoice.invoiceNumber || newInvoice.invoiceNumber == ''" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red;"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" style="min-width:80px;">วันที่:</label>
                        <div class='datepicker input-group date col-xs-9' style="max-width:139px;">
                            <input type='text' customdatepicker ng-model="newInvoice.createdDate" class="form-control input-sm" style="max-width:100px;" placeholder="วันที่ออกใบกำกับสินค้า" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" style="min-width:126px;">วันครบกำหนด:</label>
                        <div class='datepicker input-group date col-xs-9' style="max-width:139px;">
                            <input type='text' customdatepicker ng-model="newInvoice.dueDate" class="form-control input-sm" style="max-width:100px;" placeholder="วันที่ครบกำหนดชำระเงิน" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2" style="padding:2px;">
                <div class="rounded-div" ng-show="!newInvoice.isTicket" style="min-height:150px;">
                    <br />
                    <div class="text-center" style="font-size:x-large;margin-top:15px;"><strong>{{title}}</strong></div>
                </div>
                <div class="rounded-div" ng-show="newInvoice.isTicket" style="min-height:150px;">
                    <br />
                    <br />
                    <div class="text-center" style="font-size:x-large;margin-top:10px;"><strong>{{title}}</strong></div>
                </div>
            </div>
        </div>
        <div class="widget stacked widget-table action-table">
            <div class="table-responsive widget-content">
                <table class="table table-bordered table-striped table-hover">
                    <thead class="thead-inverse">
                        <tr class="widget-header">
                            <th width="40px" style="text-align:center;">&nbsp;</th>
                            <th width="30px" style="text-align:center;">#</th>
                            <th style="text-align:center;">
                                <div><small>สินค้า</small></div>
                                <div><small>Product</small></div>
                            </th>
                            <th width="100px" style="text-align:center;">
                                <div><small>จำนวน</small></div>
                                <div><small>Qty</small></div>
                            </th>
                            <th width="100px" style="text-align:center;">
                                <div><small>หน่วย</small></div>
                                <div><small>Unit</small></div>
                            </th>
                            <th style="text-align:center;min-width:120px;">
                                <div><small>ราคา</small></div>
                                <div><small>Price</small></div>
                            </th>
                            <th width="75px" style="text-align:center;">
                                <div><small>ส่วนลด%</small></div>
                                <div><small>Discount</small></div>
                            </th>
                            <th style="min-width:100px;text-align:center;">
                                <div><small>จำนวนเงิน</small></div>
                                <div><small>Amount</small></div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in newInvoice.invoiceDetails | filter:{ isDeleted: '!true'}">
                            <td style="text-align:center;vertical-align:middle;">
                                <a href="" class="btn btn-danger btn-xs noPrint" ng-click="removeInvoiceDetail(item)"><i class="glyphicon glyphicon-trash"></i></a>
                            </td>
                            <td style="text-align:center;vertical-align:middle;">{{item.no}}</td>
                            <td>
                                <md-autocomplete id="productSearchText" md-min-length="0" md-selected-item="item.product" md-search-text="productSearchText" md-items="item in getProductMatches(productSearchText)" md-item-text="item.name" class="form-control input-sm">
                                    <span md-highlight-text="productSearchText">{{item.name}}</span>
                                </md-autocomplete>
                                <span ng-show="!item.product" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red;"></span>
                            </td>
                            <td style="text-align:right;">
                                <input type="number" ng-model="item.qty" min="0" style="text-align:right;max-width:none;" ng-validate="integer" class="form-control input-sm" placeholder="0" />
                            </td>
                            <td style="text-align:center;">
                                <md-input-container style="margin:0px;margin-top:-5px;">
                                    <md-select ng-model="item.product.unitType" ng-model-options="{trackBy: '$value.unitTypeID'}">
                                        <md-option ng-repeat="unitType in data.unitTypeList" ng-value="unitType">
                                            {{unitType.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </td>
                            <td style="text-align:right;">
                                <input type="number" ng-model="item.pricePerUnit" min="0" style="text-align:right;max-width:none;" ng-validate="decimal" class="form-control input-sm" placeholder="0.00" />
                            </td>
                            <td style="text-align:center;">
                                <input type="number" min="0" max="100" ng-model="item.discount" style="text-align:right;max-width:none;" class="form-control input-sm" placeholder="0" />
                            </td>
                            <td style="text-align:right;vertical-align:middle;">
                                {{calculateAmount(item) | currency: ''}}
                            </td>
                        </tr>
                        <tr class="noPrint">
                            <td colspan="8">
                                <a class="btn btn-primary btn-xs" href="" ng-click="addItem()"><i class="glyphicon glyphicon-plus"></i></a>
                            </td>
                        </tr>
                        <tr style="background-color:#f9f9f9;">
                            <td colspan="6">
                                <strong>หมายเหตุ</strong>&nbsp;
                                <md-input-container style="margin:0px;">
                                    <md-select ng-model="promotionSelected">
                                        <md-option ng-repeat="promotion in data.promotionList" ng-value="promotion.name">
                                            {{promotion.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <a href="#" class="btn btn-primary btn-xs" ng-click="addNotes()"><i class="glyphicon glyphicon-plus-sign"></i> เพิ่ม</a>
                                <textarea ng-model="newInvoice.notes" maxlength="290" class="form-control col-xs-12" rows="3" style="min-width:100%;resize:none;" placeholder="กรอกหมายเหตุ(ถ้ามี)"></textarea>
                            </td>
                            <td colspan="1" style="text-align:right;vertical-align:middle;" nowrap="true">
                                <div>รวมเป็นเงิน</div>
                            </td>
                            <td style="text-align:right;vertical-align:middle;font-size:large;">{{calculateNetTotal() | currency: ''}}</td>
                        </tr>
                        <tr>
                            <td colspan="8" style="text-align:right;">
                                <strong>({{calculateNetTotalText()}})</strong>
                            </td>
                        </tr>
                        <!--
                        <tr style="background-color:white;">
                            <td colspan="5" style="padding:0px;">
                                <div class="form-group row remove-bottom-margin">
                                    <label for="paymentType" class="col-xs-2 control-label"><strong>ชำระ:</strong><br /><small style="font-size:75%;">PAID</small></label>
                                    <div class="col-xs-4" style="padding-top:10px;">
                                        <input type="checkbox" style="width:25px;height:25px;" ng-model="newInvoice.paid" />
                                    </div>
                                    <label for="bank" class="col-xs-2 control-label"><strong>ธนาคาร:</strong><br /><small style="font-size:75%;">BANK</small></label>
                                    <div class="col-xs-4" style="padding-top:10px;">
                                        <input type="text" id="bank" ng-model="newInvoice.bank" class="form-control input-sm" />
                                    </div>
                                </div>
                                <div class="form-group row remove-bottom-margin">
                                    <label for="paymentType" class="col-xs-2 control-label"><strong>สาขา:</strong><br /><small style="font-size:75%;">BRANCH</small></label>
                                    <div class="col-xs-4" style="padding-top:10px;">
                                        <input type="text" class="form-control input-sm" ng-model="newInvoice.bankBranch" placeholder="สาขา" />
                                    </div>
                                    <label for="bank" class="col-xs-2 control-label"><strong>เลขเช็ค:</strong><br /><small style="font-size:75%;">CHEQUE#</small></label>
                                    <div class="col-xs-4" style="padding-top:10px;">
                                        <input type="text" class="form-control input-sm" ng-model="newInvoice.chequeNumber" placeholder="หมายเลขเช็ค" />
                                    </div>
                                </div>
                                <div class="form-group row remove-bottom-margin">
                                    <label for="paymentType" class="col-xs-2 control-label"><strong>ลงวันที่:</strong><br /><small style="font-size:75%;">DATE</small></label>
                                    <div class="col-xs-4" style="padding-top:10px;">
                                        <div class='datepicker input-group date' style="max-width:139px;">
                                            <input type='text' customdatepicker ng-model="newInvoice.paidDate" class="form-control input-sm" style="max-width:100px;" placeholder="เช็คลงวันที่" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <label for="bank" class="col-xs-2 control-label"><strong>จำนวนเงิน:</strong><br /><small style="font-size:75%;">AMOUNT</small></label>
                                    <div class="col-xs-4" style="padding-top:10px;">
                                        <input type="number" class="form-control input-sm" min="0" style="text-align:right;" ng-model="newInvoice.paidAmount" placeholder="จำนวนเงินที่รับ" />
                                    </div>
                                </div>
                                <div class="form-group row remove-bottom-margin">
                                    <label for="paymentType" class="col-xs-2 control-label"><strong>วันที่รับ:</strong><br /><small style="font-size:75%;">DATE</small></label>
                                    <div class="col-xs-4" style="padding-top:10px;">
                                        <div class='datepicker input-group date' style="max-width:139px;">
                                            <input type='text' customdatepicker ng-model="newInvoice.paidCollectedDate" class="form-control input-sm" style="max-width:100px;" placeholder="วันที่รับ" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <label for="bank" class="col-xs-2 control-label"><strong>ผู้รับเงิน:</strong><br /><small style="font-size:75%;"></small></label>
                                    <div class="col-xs-4" style="padding-top:10px;">
                                        <input type="text" class="form-control input-sm" ng-model="newInvoice.paidCollector" placeholder="ชื่อผู้รับเงิน" />
                                    </div>
                                </div>
                            </td>
                            <td colspan="2" style="padding:0px;text-align:center;" align="center">
                                <input type="text" style="max-width:none;text-align:center;" class="form-control input-sm" ng-model="newInvoice.deliveryByPerson" placeholder="ชื่อผู้ส่งสินค้า" />
                                <div>ผู้ส่งสินค้า/<small>DELIVERY BY</small></div>
                                <br />
                                <input type="text" style="max-width:none;text-align:center;" class="form-control input-sm" ng-model="newInvoice.receivedByPerson" placeholder="ชื่อผู้รับสินค้า" />
                                <div>ผู้รับสินค้า/<small>RECEIVE BY</small></div>
                                <br />
                                <div class='datepicker input-group date' style="max-width:none">
                                    <input type='text' customdatepicker ng-model="newInvoice.receivedProductDate" class="form-control input-sm" style="max-width:none;" placeholder="วันที่รับสินค้า" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                <div>วันที่/<small>DATE</small></div>
                            </td>
                            <td style="padding:0px;text-align:center;">
                                <div><strong>หจก.เจริญถาวร</strong></div>
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <div>ลายเซนต์/SIGNATURE</div>
                                <br />
                                <div>วันที่/DATE</div>
                                <div>
                                    -----/-----/-----
                                </div>
                            </td>
                        </tr>
                        -->
                    </tbody>
                </table>
            </div>
        </div>
        <div class="remove-bottom-margin">
            <div class="col-xs-3" style="padding:2px;">
                <div class="rounded-div" style="min-height:150px;">
                    <br/>
                    <div class="form-group">
                        <label class="col-xs-4 control-label" style="min-width:80px">ผู้รับสินค้า</label>
                        <input type="text" id="invoice-receivedByPerson" class="col-xs-8 form-control input-sm" ng-model="newInvoice.receivedByPerson" placeholder="ผู้รับสินค้า" />
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4" style="min-width:80px;">วันที่</label>
                        <div class='datepicker input-group date col-xs-8' style="max-width:139px;">
                            <input type='text' customdatepicker ng-model="newInvoice.receivedProductDate" class="form-control input-sm" style="max-width:100px;" placeholder="วันที่รับสินค้า" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2" style="padding:2px;">
                <div class="rounded-div" style="min-height:150px;text-align:center;">
                    <div><strong>หจก.เจริญถาวร</strong></div>
                    <br/>
                    <div class="form-group">
                        <label class="col-xs-4 control-label" style="min-width:50px">ผู้ส่ง</label>
                        <input type="text" id="invoice-deliveryByPerson" class="col-xs-8 form-control input-sm" style="width:120px;" ng-model="newInvoice.deliveryByPerson" placeholder="ชื่อผู้ส่งสินค้า" />
                    </div>
                </div>
            </div>
            <div class="col-xs-3" style="padding:2px;">
                <div class="rounded-div" style="min-height:150px;">
                    <div class="form-group">
                        <label class="col-xs-4 control-label" style="min-width:80px">ชำระแล้ว:</label>
                        <input type="checkbox" id="invoice-paid" class="col-xs-8 form-control input-sm" style="width:25px;height:25px;" ng-model="newInvoice.paid" />
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label" style="min-width:80px">ผู้รับเงิน</label>
                        <input type="text" id="invoice-deliveryByPerson" class="col-xs-8 form-control input-sm" ng-model="newInvoice.paidCollector" placeholder="ชื่อผู้รับเงิน" />
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4" style="min-width:80px;">วันที่รับ</label>
                        <div class='datepicker input-group date col-xs-8' style="max-width:139px;">
                            <input type='text' customdatepicker ng-model="newInvoice.paidCollectedDate" class="form-control input-sm" style="max-width:100px;" placeholder="วันที่รับเงิน" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4" style="padding:2px;">
                <div class="rounded-div" style="min-height:150px;">
                    <div class="form-group">
                        <label class="control-label col-xs-3" style="min-width:80px;">จำนวนเงิน:</label>
                        <input type="text" id="invoice-paidAmount" class="col-xs-8 form-control input-sm" ng-model="newInvoice.paidAmount" placeholder="รับเงินเป็นจำนวน" />
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" style="min-width:80px;">ธนาคาร:</label>
                        <input type="text" id="invoice-bank" class="col-xs-8 form-control input-sm" ng-model="newInvoice.bank" placeholder="ชื่อธนาคาร" />
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" style="min-width:80px;">เลขที่เช็ค:</label>
                        <input type="text" id="invoice-chequeNumber" class="col-xs-8 form-control input-sm" ng-model="newInvoice.chequeNumber" placeholder="เลขที่เช็ค" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="data.printMode && !data.printValueOnly" id="invoiceWithLine" style="min-width:800px;max-width:800px;font-size:15px;margin-left:15px;padding-right:30px;margin-top:-30px;margin-bottom:-30px;">
        <div class="form-group remove-bottom-margin" style="margin:0px;">
            <div class="col-xs-5" style="padding:2px;">
                <div>
                    <div style="font-size:xx-large;"><strong>{{companyInfo.name}}</strong></div>
                    <div class="text-overflow">{{companyInfo.address}}</div>
                    <div>โทร:&nbsp;{{companyInfo.phone}}&nbsp;&nbsp;โทรสาร:&nbsp;{{companyInfo.fax}}</div>
                </div>
            </div>
            <div class="col-xs-4" style="padding:2px;margin-top:15px;">
                <div class="rounded-div" ng-show="newInvoice.isTicket" style="vertical-align:central;height:68px;">
                    <div class="text-center" style="font-size:xx-large;"><strong>ตั๋วปุ๋ย</strong></div>
                </div>
            </div>
            <div class="col-xs-3" style="padding:2px;margin-top:15px;">
                <div class="rounded-div" style="vertical-align:central;height:68px;">
                    <div class="text-center" style="font-size:large;"><strong>ใบส่งของชั่วคราว<br/>INVOICE</strong></div>
                </div>
            </div>
        </div>
        <div class="form-group remove-bottom-margin" style="margin:0px;">
            <div class="col-xs-8" style="padding:2px;">
                <div class="rounded-div" style="min-height:140px;">
                    <div class="form-group row remove-bottom-margin">
                        <label class="control-label col-xs-2" style="min-width:80px;padding-top:0px;"><strong>ลูกค้า</strong><br /><small style="font-size:75%;">Customer</small></label>
                        <div class='col-xs-9' style="font-size:x-large;">
                            <strong>{{newInvoice.customer.name}}</strong>
                        </div>
                    </div>
                    <div class="form-group row remove-bottom-margin">
                        <label class="control-label col-xs-2" style="min-width:80px;padding-top:0px;"><strong>ที่อยู่</strong><br /><small style="font-size:75%;">Address</small></label>
                        <div class='col-xs-9'>
                            {{newInvoice.customer.address}}
                        </div>
                    </div>
                    <div class="form-group row remove-bottom-margin">
                        <label class="control-label col-xs-2" style="min-width:80px;padding-top:0px;"><strong>โทรศัพท์</strong><br /><small style="font-size:75%;">Telephone</small></label>
                        <div class='col-xs-4'>
                            {{newInvoice.customer.phone1}}
                        </div>
                        <label class="control-label col-xs-2" style="min-width:80px;padding-top:0px;"><strong>โทรสาร</strong><br /><small style="font-size:75%;">Fax</small></label>
                        <div class='col-xs-4'>
                            {{newInvoice.customer.fax}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4" style="padding:2px;">
                <div class="rounded-div" style="min-height:140px;padding-left:5px;padding-right:0px;">
                    <div class="form-group row remove-bottom-margin">
                        <label for="paymentType" class="col-xs-3 control-label" style="min-width:80px;padding-top:0px;"><strong>เลขที่</strong><br /><small style="font-size:75%;">No</small></label>
                        <div class="col-xs-8" style="padding-top:10px;">
                            {{newInvoice.invoiceNumber}}
                        </div>
                    </div>
                    <div class="form-group row remove-bottom-margin">
                        <label class="control-label col-xs-3" style="min-width:80px;padding-top:0px;"><strong>วันที่</strong><br /><small style="font-size:75%;">Date</small></label>
                        <div class='col-xs-8' style="padding-top:10px;">
                            {{newInvoice.createdDate | date: 'dd/MM/yyyy'}}
                        </div>
                    </div>
                    <div class="form-group row remove-bottom-margin">
                        <label class="control-label col-xs-5" style="min-width:126px;padding-top:0px;"><strong>กำหนดชำระ</strong><br /><small style="font-size:75%;">Due Date</small></label>
                        <div class='col-xs-6' style="padding-top:10px;">
                            {{newInvoice.dueDate | date: 'dd/MM/yyyy'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-bordered" style="margin-bottom:2px;">
            <thead>
                <tr>
                    <th width="30px" style="text-align:center;">#</th>
                    <th style="text-align:center;">
                        <div><small>สินค้า</small></div>
                        <div><small>Product</small></div>
                    </th>
                    <th width="50px" style="text-align:center;">
                        <div><small>จำนวน</small></div>
                        <div><small>Qty</small></div>
                    </th>
                    <th width="70px" style="text-align:center;">
                        <div><small>หน่วย</small></div>
                        <div><small>Unit</small></div>
                    </th>
                    <th width="70px" style="text-align:center;">
                        <div><small>ราคา</small></div>
                        <div><small>Price</small></div>
                    </th>
                    <th width="70px" style="text-align:center;">
                        <div><small>ส่วนลด%</small></div>
                        <div><small>Discount</small></div>
                    </th>
                    <th width="110px" style="text-align:center;">
                        <div><small>จำนวนเงิน</small></div>
                        <div><small>Amount</small></div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in newInvoice.invoiceDetails | filter:{ isDeleted: '!true'}">
                    <td style="text-align:center;vertical-align:middle;border-top: none !important;border-bottom: none !important;">{{item.no}}</td>
                    <td style="border-top: none !important;border-bottom: none !important;">
                        {{item.product.name}}&nbsp;(<small>{{item.product.unitsPerPackageText}}</small>)
                    </td>
                    <td style="text-align:right;border-top: none !important;border-bottom: none !important;">
                        {{item.qty | number}}
                    </td>
                    <td style="text-align:center;border-top: none !important;border-bottom: none !important;">
                        {{item.product.unitType.name}}
                    </td>
                    <td style="text-align:right;border-top: none !important;border-bottom: none !important;">
                        {{item.pricePerUnit | number}}
                    </td>
                    <td style="text-align:center;border-top: none !important;border-bottom: none !important;">
                        {{item.discount}}
                    </td>
                    <td style="text-align:right;vertical-align:middle;border-top: none !important;border-bottom: none !important;">
                        {{calculateAmount(item) | currency: ''}}
                    </td>
                </tr>
                <tr ng-repeat="i in blankInvoiceDetails track by $index">
                    <td style="border-top: none !important;border-bottom: none !important;">&nbsp;</td>
                    <td style="border-top: none !important;border-bottom: none !important;">&nbsp;</td>
                    <td style="border-top: none !important;border-bottom: none !important;">&nbsp;</td>
                    <td style="border-top: none !important;border-bottom: none !important;">&nbsp;</td>
                    <td style="border-top: none !important;border-bottom: none !important;">&nbsp;</td>
                    <td style="border-top: none !important;border-bottom: none !important;">&nbsp;</td>
                    <td style="border-top: none !important;border-bottom: none !important;">&nbsp;</td>
                </tr>
                <tr style="background-color:#f9f9f9;height:100px;">
                    <td colspan="4">
                        <strong>หมายเหตุ</strong>&nbsp;&nbsp;{{newInvoice.notes}}
                    </td>
                    <td colspan="2" style="text-align:right;vertical-align:middle;">
                        <div>รวมเป็นเงิน</div>
                    </td>
                    <td style="text-align:right;vertical-align:middle;font-size:large;">{{calculateNetTotal() | currency: ''}}</td>
                </tr>
                <tr>
                    <td colspan="7" style="text-align:right;">
                        <strong>({{calculateNetTotalText()}})</strong>
                    </td>
                </tr>
                <tr>
                    <td colspan="7">
                        ได้รับสินค้าตามรายการข้างบนนี้ไว้ถูกต้อง ผู้ซื้อจะมีสิทธิ์สมบูรณ์ในสินค้านี้ต่อเมื่อได้ชำระเงินโดยครบถ้วนแล้ว และอยู่ในสภาพเรียบร้อยทุกประการ
                    </td>
                </tr>                
            </tbody>
        </table>
        <div class="form-group remove-bottom-margin">
            <div class="col-xs-3" style="padding-right:2px;padding-top:2px;padding-bottom:2px;">
                <div class="rounded-div" style="min-height:140px;text-align:center;">
                    <br />
                    <br />
                    <div>__________________</div>
                    <div>ผู้รับสินค้า</div>
                    <br />
                    <div>วันที่____/_____/____</div>
                </div>
            </div>
            <div class="col-xs-2" style="padding:2px;">
                <div class="rounded-div" style="min-height:140px;text-align:center;">
                    <div><strong>หจก.เจริญถาวร</strong></div>
                    <br />
                    <br />
                    <br />
                    <div>_____________</div>
                    <div>ผู้ส่งสินค้า</div>
                </div>
            </div>
            <div class="col-xs-3" style="padding:2px;">
                <div class="rounded-div" style="min-height:140px;">
                    <div class="form-group" style="margin-bottom:2px;">
                        <div class="control-label col-xs-6">ชำระแล้ว</div>
                        <input type="checkbox" style="width:25px;height:25px;" disabled />
                    </div>
                    <br />
                    <div>ผู้รับเงิน ___________</div>
                    <br />
                    <div>วันที่____/_____/____</div>
                </div>
            </div>
            <div class="col-xs-4" style="padding-left:2px;padding-top:2px;padding-bottom:2px;">
                <div class="rounded-div" style="min-height:140px;">
                    <br />
                    <div>จำนวนเงิน ________________</div>
                    <br />
                    <div>ธนาคาร __________________</div>
                    <br />
                    <div>เลขที่เช็ค _________________</div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="data.printMode && data.printValueOnly" id="invoicValueOnly" style="min-width:800px;max-width:800px;font-size:15px;margin-left:15px;padding-right:30px;margin-top:-30px;margin-bottom:-30px;">
        <div class="form-group remove-bottom-margin" style="margin:0px;">
            <div class="col-xs-5" style="padding:2px;">
                <div>
                    <div style="font-size:xx-large;"><strong>&nbsp;</strong></div>
                    <div class="text-overflow">&nbsp;</div>
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="col-xs-4" style="padding:2px;margin-top:15px;">
                <div class="rounded-div" style="border-color:white;vertical-align:central;height:68px;">
                    <div ng-show="newInvoice.isTicket" class="text-center" style="font-size:xx-large;"><strong>ตั๋วปุ๋ย</strong></div>
                </div>
            </div>
            <div class="col-xs-3" style="padding:2px;margin-top:15px;">
                <div class="rounded-div" style="border-color:white;vertical-align:central;height:68px;">
                    <div class="text-center" style="font-size:large;"><strong>&nbsp;</strong></div>
                </div>
            </div>
        </div>
        <div class="form-group remove-bottom-margin" style="margin:0px;">
            <div class="col-xs-8" style="padding:2px;">
                <div class="rounded-div" style="min-height:140px;border-color:white;">
                    <div class="form-group row remove-bottom-margin">
                        <label class="control-label col-xs-2" style="min-width:80px;padding-top:0px;"><strong>&nbsp;</strong><br /><small style="font-size:75%;">&nbsp;</small></label>
                        <div class='col-xs-9' style="font-size:x-large;">
                            <strong>{{newInvoice.customer.name}}</strong>
                        </div>
                    </div>
                    <div class="form-group row remove-bottom-margin">
                        <label class="control-label col-xs-2" style="min-width:80px;padding-top:0px;"><strong>&nbsp;</strong><br /><small style="font-size:75%;">&nbsp;</small></label>
                        <div class='col-xs-9'>
                            {{newInvoice.customer.address}}
                        </div>
                    </div>
                    <div class="form-group row remove-bottom-margin">
                        <label class="control-label col-xs-2" style="min-width:80px;padding-top:0px;"><strong>&nbsp;</strong><br /><small style="font-size:75%;">&nbsp;</small></label>
                        <div class='col-xs-4'>
                            {{newInvoice.customer.phone1}}
                        </div>
                        <label class="control-label col-xs-2" style="min-width:80px;padding-top:0px;"><strong>&nbsp;</strong><br /><small style="font-size:75%;">&nbsp;</small></label>
                        <div class='col-xs-4'>
                            {{newInvoice.customer.fax}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4" style="padding:2px;">
                <div class="rounded-div" style="min-height:140px;padding-left:5px;padding-right:0px;border-color:white;">
                    <div class="form-group row remove-bottom-margin">
                        <label for="paymentType" class="col-xs-3 control-label" style="min-width:80px;padding-top:0px;"><strong>&nbsp;</strong><br /><small style="font-size:75%;">&nbsp;</small></label>
                        <div class="col-xs-8" style="padding-top:10px;">
                            {{newInvoice.invoiceNumber}}
                        </div>
                    </div>
                    <div class="form-group row remove-bottom-margin">
                        <label class="control-label col-xs-3" style="min-width:80px;padding-top:0px;"><strong>&nbsp;</strong><br /><small style="font-size:75%;">&nbsp;</small></label>
                        <div class='col-xs-8' style="padding-top:10px;">
                            {{newInvoice.createdDate | date: 'dd/MM/yyyy'}}
                        </div>
                    </div>
                    <div class="form-group row remove-bottom-margin">
                        <label class="control-label col-xs-5" style="min-width:126px;padding-top:0px;"><strong>&nbsp;</strong><br /><small style="font-size:75%;">&nbsp;</small></label>
                        <div class='col-xs-6' style="padding-top:10px;">
                            {{newInvoice.dueDate | date: 'dd/MM/yyyy'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-bordernocolor" style="margin-bottom:2px;">
            <thead>
                <tr>
                    <th width="30px" style="text-align:center;border-color:#FFF;">&nbsp;</th>
                    <th style="text-align:center;border-color:#FFF;">
                        <div><small>&nbsp;</small></div>
                        <div><small>&nbsp;</small></div>
                    </th>
                    <th width="50px" style="text-align:center;border-color:#FFF;">
                        <div><small>&nbsp;</small></div>
                        <div><small>&nbsp;</small></div>
                    </th>
                    <th width="70px" style="text-align:center;border-color:#FFF;">
                        <div><small>&nbsp;</small></div>
                        <div><small>&nbsp;</small></div>
                    </th>
                    <th width="70px" style="text-align:center;border-color:#FFF;">
                        <div><small>&nbsp;</small></div>
                        <div><small>&nbsp;</small></div>
                    </th>
                    <th width="70px" style="text-align:center;border-color:#FFF;">
                        <div><small>&nbsp;</small></div>
                        <div><small>&nbsp;</small></div>
                    </th>
                    <th width="110px" style="text-align:center;border-color:#FFF;">
                        <div><small>&nbsp;</small></div>
                        <div><small>&nbsp;</small></div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in newInvoice.invoiceDetails | filter:{ isDeleted: '!true'}">
                    <td style="text-align:center;vertical-align:middle;border-top: none !important;border-bottom: none !important;">{{item.no}}</td>
                    <td style="border-top: none !important;border-bottom: none !important;">
                        {{item.product.name}}&nbsp;(<small>{{item.product.unitsPerPackageText}}</small>)
                    </td>
                    <td style="text-align:right;border-top: none !important;border-bottom: none !important;">
                        {{item.qty | number}}
                    </td>
                    <td style="text-align:center;border-top: none !important;border-bottom: none !important;">
                        {{item.product.unitType.name}}
                    </td>
                    <td style="text-align:right;border-top: none !important;border-bottom: none !important;">
                        {{item.pricePerUnit | number}}
                    </td>
                    <td style="text-align:center;border-top: none !important;border-bottom: none !important;">
                        {{item.discount}}
                    </td>
                    <td style="text-align:right;vertical-align:middle;border-top: none !important;border-bottom: none !important;">
                        {{calculateAmount(item) | currency: ''}}
                    </td>
                </tr>
                <tr ng-repeat="i in blankInvoiceDetails track by $index">
                    <td style="border-top: none !important;border-bottom: none !important;">&nbsp;</td>
                    <td style="border-top: none !important;border-bottom: none !important;">&nbsp;</td>
                    <td style="border-top: none !important;border-bottom: none !important;">&nbsp;</td>
                    <td style="border-top: none !important;border-bottom: none !important;">&nbsp;</td>
                    <td style="border-top: none !important;border-bottom: none !important;">&nbsp;</td>
                    <td style="border-top: none !important;border-bottom: none !important;">&nbsp;</td>
                    <td style="border-top: none !important;border-bottom: none !important;">&nbsp;</td>
                </tr>
                <tr style="height:100px;">
                    <td colspan="4">
                        <strong>หมายเหตุ</strong>&nbsp;&nbsp;{{newInvoice.notes}}
                    </td>
                    <td colspan="2" style="text-align:right;vertical-align:middle;">
                        <div>&nbsp;</div>
                    </td>
                    <td style="text-align:right;vertical-align:middle;font-size:large;">{{calculateNetTotal() | currency: ''}}</td>
                </tr>
                <tr>
                    <td colspan="7" style="text-align:right;">
                        <strong>({{calculateNetTotalText()}})</strong>
                    </td>
                </tr>
                <tr colspan="7" style="height:60px;">
                    <td>&nbsp;</td>
                </tr>
                <tr style="height:140px;">
                    <td colspan="7">&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br class="noPrint"/>
    <hr class="noPrint"/>
    <div ng-show="status!=''" class="alert alert-danger noPrint" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{status}}
    </div>
    <md-progress-linear ng-show="showLoading" md-mode="indeterminate"></md-progress-linear>
    <div class="form-group remove-bottom-margin noPrint">
        <div>
            <button ng-show="!data.printMode" type="submit" ng-click="saveInvoice()" class="btn btn-primary">
                <span class="glyphicon glyphicon-floppy-save"></span> บันทึก
            </button>
            <a href="#" class="btn btn-primary" ng-show="!data.printMode" ng-click="data.printMode = true;data.printValueOnly = true;"><i class="glyphicon glyphicon-print"></i> ตัวอย่างก่อนพิมพ์</a>
            <a href="#" class="btn btn-warning" ng-show="!data.printMode" ng-click="data.printMode = true;data.printValueOnly = false;"><i class="glyphicon glyphicon-print"></i> ตัวอย่างก่อนพิมพ์มีเส้น</a>
            <a href="#" class="btn btn-primary" ng-show="data.printMode" onclick="window.print();"><i class="glyphicon glyphicon-print"></i> พิมพ์</a>
            <a href="#" class="btn btn-primary" ng-show="data.printMode" ng-click="data.printMode = false;"><i class="glyphicon glyphicon-edit"></i> กลับไปแก้ไข</a>
        </div>
    </div>
</form>



