<form class="form-horizontal" role="form" ng-controller="invoicesController">
    <span hidden>{{newInvoice.isTax = true}}</span>
    <div ng-show="!data.printMode" id="invoiceNormalMode" class="row">
        <div class="col-xs-3">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-list"></span> รายการสินค้ามีภาษีคงคลัง
                            <!--
                            <div class="pull-right action-buttons">
                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-cog" style="margin-right: 0px;"></span>
                                    </button>
                                    
                                    <ul class="dropdown-menu slidedown">
                                        <li><a href=""><span class="glyphicon glyphicon-pencil"></span>Edit</a></li>
                                        <li><a href=""><span class="glyphicon glyphicon-trash"></span>Delete</a></li>
                                        <li><a href=""><span class="glyphicon glyphicon-flag"></span>Flag</a></li>
                                    </ul>
                                    
                                </div>
                            </div>-->
                        </div>
                        <div class="panel-body" style="padding:0px;">
                            <ul class="list-group" style="margin-bottom:0px;max-height:600px;overflow-y:scroll;">
                                <li class="list-group-item" ng-repeat="item in data.purchaseList">
                                    <div class="checkbox" style="display:inline-block;margin:0px;padding:0px;">
                                        <input type="checkbox" ng-model="item.checked" ng-click="purchaseItemChanged($event, item)" style="width:15px;height:15px;margin-left:-10px;" />
                                        <label style="padding-left:10px;">
                                            {{item.product.name}}
                                        </label>
                                    </div>
                                    <span class="badge">{{item.qtyRemain}}/{{item.qty}}</span>
                                    <div>
                                        <small>
                                            <em>
                                                บิล#{{item.billNumber}}
                                            </em>
                                        </small>
                                    </div>
                                    <p class="list-group-item-text">
                                        <small>
                                            <em>
                                                {{item.purchaseDate| date:"dd/MM/yyyy"}} | {{item.purchasePricePerUnit | number:2}}(บาท/ชิ้น)
                                            </em>
                                        </small>
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-9">
            <div class="col-xs-12 noPrint">
                <button type="button" class="btn btn-danger btn-xs" data-toggle="collapse" data-target="#headerarea">
                    <span class="glyphicon glyphicon-pushpin" style="margin-right: 0px;"></span>
                </button>
            </div>
            <div id="headerarea" class="collapse in">
                <div class="remove-bottom-margin">
                    <div class="col-xs-12" style="padding:2px;text-align:center;">
                        <div style="font-size:x-large;"><strong>ใบแจ้งหนี้/ใบกำกับภาษี</strong></div>
                        <div style="font-size:x-large;"><strong>INVOICE/TAX INVOICE</strong></div>
                    </div>
                </div>
                <div class="remove-bottom-margin">
                    <div class="col-xs-4" style="padding:2px;">
                        <div style="min-height:145px;">
                            <div class="form-group remove-bottom-margin">
                                <label class="col-xs-2 control-label" style="max-width:50px;"><small>ลูกค้า:<br />CUST.</small></label>
                                <div class='col-xs-10'>
                                    <div style="max-width:200px;margin-top:10px;">
                                        <md-autocomplete md-min-length="0" md-selected-item="newInvoice.customer" md-search-text="customerSearchText" md-items="item in getCustomerMatches(customerSearchText)" md-item-text="item.name" class="form-control input-sm">
                                            <span md-highlight-text="customerSearchText">{{item.name}}</span>
                                        </md-autocomplete>
                                        <span ng-show="!newInvoice.customer" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red;"></span>
                                        <input ng-show="!!newInvoice.customer && newInvoice.customer.name == 'อื่นๆ'" type="text" class="form-control input-sm" ng-model="newInvoice.customerName" placeholder="ชื่อลูกค้า" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group remove-bottom-margin">
                                <div class="text-overflow col-xs-10 pull-right"><small>{{newInvoice.customer.address}}&nbsp;</small></div>
                            </div>
                            <div class="form-group remove-bottom-margin">
                                <div class="col-xs-10 pull-right" ng-show="newInvoice.customer == null">&nbsp;</div>
                                <div class="col-xs-10 pull-right" ng-show="newInvoice.customer != null && newInvoice.customer.customerID != ''"><small><strong>โทร:</strong>&nbsp;{{newInvoice.customer.phone1}}&nbsp;&nbsp;<strong>โทรสาร:</strong>&nbsp;{{newInvoice.customer.fax}}</small></div>
                            </div>
                            <div class="form-group remove-bottom-margin">
                                <label class="col-xs-3 control-label" style="min-width:80px;padding-top:0px;"><small>ส่งที่:<br />SHIP TO</small></label>
                                <input type="text" id="invoice-shipto" class="col-xs-9 form-control input-sm" style="width:150px;margin-top:5px;" ng-model="newInvoice.shipTo" placeholder="สถานที่จัดส่งสินค้า" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4" style="padding:2px;">
                        <div style="min-height:145px;">
                            <div class="form-group remove-bottom-margin">
                                <label class="col-xs-4 control-label" style="min-width:100px;"><small>เลขที่:<br />NO</small></label>
                                <input type="text" id="invoice-InvoiceNumber" class="col-xs-8 form-control input-sm" style="width:150px;margin-top:12px;" ng-model="newInvoice.invoiceNumber" placeholder="หมายเลขใบกำกับสินค้า" />
                            </div>
                            <div class="form-group remove-bottom-margin">
                                <label class="control-label col-xs-4" style="min-width:80px;"><small>วันที่:<br />DATE</small></label>
                                <div class='datepicker input-group date col-xs-8' style="max-width:139px;margin-top:10px;">
                                    <input type='text' customdatepicker ng-model="newInvoice.createdDate" class="form-control input-sm" style="max-width:100px;" placeholder="วันที่ออกใบกำกับสินค้า" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group remove-bottom-margin">
                                <label class="col-xs-4 control-label" style="min-width:100px;"><small>กำหนดชำระ:<br />DUE DATE</small></label>
                                <div class='datepicker input-group date col-xs-8' style="max-width:139px;margin-top:10px;">
                                    <input type='text' customdatepicker ng-model="newInvoice.dueDate" class="form-control input-sm" style="max-width:100px;" placeholder="วันครบกำหนดชำระเงิน" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4" style="padding:2px;">
                        <div style="min-height:145px;">
                            <div class="form-group remove-bottom-margin">
                                <label class="col-xs-5 control-label" style="min-width:100px;"><small>เลขใบสั่งซื้อ:<br />P/O NO.</small></label>
                                <input type="text" id="invoice-InvoiceNumber" class="col-xs-7 form-control input-sm" style="width:150px;margin-top:12px;" ng-model="newInvoice.referencePONumber" placeholder="หมายเลข PO อ้างอิง" />
                            </div>
                            <div class="form-group remove-bottom-margin">
                                <label class="col-xs-5 control-label" style="min-width:100px;"><small>เงื่อนไขการชำระ:<br />TERM</small></label>
                                <input type="text" id="invoice-InvoiceNumber" class="col-xs-7 form-control input-sm" style="width:150px;margin-top:12px;" ng-model="newInvoice.termOfPayment" placeholder="เงื่อนไขชำระเงิน" />
                            </div>
                            <div class="form-group remove-bottom-margin">
                                <label class="col-xs-5 control-label" style="min-width:100px;"><small>วันที่ส่ง:<br />DELV. DATE</small></label>
                                <div class='datepicker input-group date col-xs-7' style="max-width:139px;margin-top:10px;">
                                    <input type='text' customdatepicker ng-model="newInvoice.deliveryDate" class="form-control input-sm" style="max-width:100px;" placeholder="วันครบกำหนดชำระเงิน" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="padding:2px;border-top:1px solid gray;border-top-width:medium;">
                    <div class="col-xs-4">
                        <label class="control-label" style="min-width:80px;padding-top:0px;"><small>ขนส่งโดย(SHIP BY):</small></label>
                        <input type="text" id="invoice-shipto" class="form-control input-sm" ng-model="newInvoice.shipBy" placeholder="ขนส่งโดย" />
                    </div>
                    <div class="col-xs-4">
                        <label class="control-label" style="min-width:80px;padding-top:0px;"><small>เลขที่ใบขนส่ง(CODE NO):</small></label>
                        <input type="text" id="invoice-shipto" class="form-control input-sm" ng-model="newInvoice.deliveryRefNumber" placeholder="เลขที่ใบขนส่ง" />
                    </div>
                    <div class="col-xs-4">
                        <label class="control-label" style="min-width:80px;padding-top:0px;"><small>ทะเบียนรถขนส่ง(CAR NO):</small></label>
                        <input type="text" id="invoice-shipto" class="form-control input-sm" ng-model="newInvoice.deliveryByCarNumber" placeholder="เลขทะเบียนรถขนส่ง" />
                    </div>
                </div>
            </div>
            <div class="widget stacked widget-table action-table">
                <div class="table-responsive widget-content">
                    <table class="table table-bordered table-striped table-hover">
                        <thead class="thead-inverse">
                            <tr class="widget-header">
                                <th class="noPrint" width="40px" style="text-align:center;">&nbsp;</th>
                                <th width="30px" style="text-align:center;">#</th>
                                <th style="text-align:center;">
                                    <div><small>รายการสินค้า</small></div>
                                    <div><small>Product</small></div>
                                </th>
                                <th width="100px" style="text-align:center;">
                                    <div><small>ต่อหน่วยบรรจุ</small></div>
                                    <div><small>Packing Unit</small></div>
                                </th>
                                <th width="80px" style="text-align:center;">
                                    <div><small>จำนวน</small></div>
                                    <div><small>Qty</small></div>
                                </th>
                                <th width="100px" style="text-align:center;">
                                    <div><small>หน่วย</small></div>
                                    <div><small>Unit</small></div>
                                </th>
                                <th width="120px" style="text-align:center;">
                                    <div><small>หน่วยละ/บาท</small></div>
                                    <div><small>Qty. Price</small></div>
                                </th>
                                <th width="75px" style="text-align:center;">
                                    <div><small>ส่วนลด%</small></div>
                                    <div><small>Discount</small></div>
                                </th>
                                <th width="100px" style="min-width:100px;text-align:center;">
                                    <div><small>จำนวนเงิน</small></div>
                                    <div><small>Amount</small></div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in newInvoice.invoiceDetails | filter:{ isDeleted: '!true'}">
                                <td class="noPrint" style="text-align:center;vertical-align:middle;">
                                    <a href="" class="btn btn-danger btn-xs" ng-click="removeInvoiceDetail(item)"><i class="glyphicon glyphicon-trash"></i></a>
                                </td>
                                <td style="text-align:center;vertical-align:middle;">{{item.no}}</td>
                                <td>
                                    @*<md-autocomplete md-min-length="0" md-selected-item="item.product" md-search-text="productSearchText" md-items="item in getProductMatches(productSearchText)" md-item-text="item.name" class="form-control input-sm">
                                            <span md-highlight-text="productSearchText">{{item.name}}</span>
                                        </md-autocomplete>
                                        <span ng-show="!item.product" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red;"></span>*@
                                    {{item.product.name}}
                                </td>
                                <td style="text-align:center;vertical-align:middle;">
                                    {{item.product.unitsPerPackageText}}
                                </td>
                                <td style="text-align:right;">
                                    <input type="number" min="0" max="item.qtyRemain" ng-model="item.qty" ng-change="modifyQtyRemain(item)" style="text-align:right;max-width:none;" class="form-control input-sm" placeholder="0" />
                                </td>
                                <td style="text-align:center;vertical-align:middle;">{{item.product.unitType.name}}</td>
                                <td style="text-align:right;">
                                    <input type="number" min="0" ng-model="item.pricePerUnit" style="text-align:right;max-width:none;" class="form-control input-sm" placeholder="0.00" />
                                </td>
                                <td style="text-align:center;">
                                    <input type="number" min="0" max="100" ng-model="item.discount" style="text-align:right;max-width:none;" class="form-control input-sm" placeholder="0" />
                                </td>
                                <td style="text-align:right;vertical-align:middle;">
                                    {{calculateAmount(item) | currency: ''}}
                                </td>
                            </tr>
                            @*<tr class="noPrint">
                                    <td colspan="9">
                                        <a class="btn btn-primary btn-xs" href="" ng-click="addItem()"><i class="glyphicon glyphicon-plus"></i></a>
                                    </td>
                                </tr>*@
                            <tr style="background-color:#f9f9f9;">
                                <td colspan="6" style="text-align:right;">
                                    <textarea ng-model="newInvoice.notes" class="form-control col-xs-12" rows="3" style="min-width:100%" placeholder="กรอกหมายเหตุ(ถ้ามี)"></textarea>
                                    <div>({{calculateNetTotalText()}})</div>
                                </td>
                                <td colspan="2" style="text-align:right;">
                                    <div>รวมเงิน/SUB TOTAL</div>
                                    <div>ส่วนลด/DISCOUNT</div>
                                    <div><input type="checkbox" ng-model="data.calTax" /> ภาษีมูลค่าเพิ่ม/VAT 7%</div>
                                    <div>จำนวนเงินสุทธิ/NET TOTAL</div>
                                </td>
                                <td style="text-align:right;">
                                    <div>{{invoiceSubTotal() | currency: ''}}</div>
                                    <div>{{invoiceTotalDiscount() | currency: ''}}</div>
                                    <div>{{calculateTax() | currency: ''}}</div>
                                    <div>{{calculateNetTotal() | currency: ''}}</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="data.printMode && !data.printValueOnly" id="invoiceWithLine" class="row" style="min-width:800px;max-width:800px;">
        <div id="headerarea">
            <div class="form-group remove-bottom-margin">
                <div class="col-xs-12" style="padding:2px;border-bottom:1px solid gray;border-bottom-width:medium;text-align:center;">
                    <div style="font-size:xx-large;"><strong>ห้างหุ้นส่วนจำกัด เจริญถาวร</strong></div>
                    <div class="text-overflow"><small>94 หมู่ที่ 4 ต.โรงเข้ อ.บ้านแพ้ว จ.สมุทรสาคร 74120 โทร: (034) 467611-2</small></div>
                    <div class="text-overflow"><small>94 Moo. 4 Tambon Rong-Khae Amphoe Banpho Samutsakorn 74120 โทร: (034) 467611-2</small></div>
                    <div><small>เลขที่ประจำตัวผู้เสียภาษีอากร 0743528000060</small></div>
                </div>
            </div>
            <div class="form-group remove-bottom-margin">
                <div class="col-xs-12" style="padding:2px;text-align:center;">
                    <div style="font-size:large;"><strong>ใบแจ้งหนี้/ใบกำกับภาษี</strong></div>
                    <div style="font-size:large;"><strong>INVOICE/TAX INVOICE</strong></div>
                </div>
            </div>
            <div class="form-group row remove-bottom-margin">
                <div class="col-xs-4" style="min-height:145px;padding-left:20px;">
                    <div class="form-group remove-bottom-margin">
                        <label class="col-xs-2 control-label"><strong>ลูกค้า:</strong><br /><small style="font-size:75%;">Cust.</small></label>
                        <div class='col-xs-10'>
                            <div style="margin-top:10px;">
                                {{newInvoice.customerName}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row remove-bottom-margin">
                        <div class='col-xs-12'>
                            <small>{{newInvoice.customer.address}}</small>
                        </div>
                        <div class='col-xs-12'>
                            <small>{{newInvoice.customer.phone1}}</small>
                        </div>
                    </div>
                    <div class="form-group row remove-bottom-margin">
                        <label class="col-xs-3 control-label"><strong>ส่งที่:</strong><br /><small style="font-size:75%;">Ship To</small></label>
                        <div class="col-xs-9" style="padding-top:10px;">
                            {{newInvoice.shipTo}}
                        </div>
                    </div>
                </div>
                <div class="col-xs-4" style="min-height:145px;">
                        <div class="form-group row remove-bottom-margin">
                            <label for="paymentType" class="col-xs-4 control-label"><strong>เลขที่:</strong><br /><small style="font-size:75%;">Invoice No.</small></label>
                            <div class="col-xs-8" style="padding-top:10px;">
                                {{newInvoice.invoiceNumber}}
                            </div>
                        </div>
                        <div class="form-group row remove-bottom-margin">
                            <label class="control-label col-xs-4" style="min-width:80px;"><strong>วันที่:</strong><br /><small style="font-size:75%;">Created</small></label>
                            <div class='col-xs-8' style="padding-top:10px;">
                                {{newInvoice.createdDate | date: 'dd/MM/yyyy'}}
                            </div>
                        </div>
                        <div class="form-group row remove-bottom-margin">
                            <label class="control-label col-xs-4" style="min-width:120px;"><strong>กำหนดชำระ:</strong><br /><small style="font-size:75%;">Due Date</small></label>
                            <div class='col-xs-8' style="padding-top:10px;max-width:100px;">
                                {{newInvoice.dueDate | date: 'dd/MM/yyyy'}}
                            </div>
                        </div>
                </div>
                <div class="col-xs-4" style="min-height:145px;">
                        <div class="form-group remove-bottom-margin">
                            <label class="col-xs-5 control-label" style="min-width:100px;"><small>เลขใบสั่งซื้อ:<br />P/O NO.</small></label>
                            <div class="col-xs-7" style="padding-top:10px;">
                                {{newInvoice.referencePONumber}}
                            </div>
                        </div>
                        <div class="form-group row remove-bottom-margin">
                            <label class="col-xs-5 control-label" style="min-width:130px;"><small>เงื่อนไขการชำระ:<br />TERM</small></label>
                            <div class="col-xs-7" style="padding-top:10px;max-width:100px;">
                                {{newInvoice.termOfPayment}}
                            </div>
                        </div>
                        <div class="form-group row remove-bottom-margin">
                            <label class="col-xs-5 control-label" style="min-width:130px;"><small>วันที่ส่ง:<br />DELIVER DATE</small></label>
                            <div class='col-xs-7' style="padding-top:10px;max-width:100px;">
                                {{newInvoice.deliveryDate | date: 'dd/MM/yyyy'}}
                            </div>
                        </div>
                </div>
            </div>
            <div class="form-group" style="padding:2px;border-top:1px solid gray;border-top-width:medium;">
                <div class="col-xs-2" style="max-width:70px;">
                    <label class="control-label" style="min-width:60px;padding-top:0px;"><small>ขนส่งโดย:<br />SHIP BY</small></label>
                </div>
                <div class="col-xs-2">
                    {{newInvoice.shipBy}}
                </div>
                <div class="col-xs-2">
                    <label class="control-label" style="min-width:80px;padding-top:0px;"><small>เลขที่ใบขนส่ง:<br />CODE NO</small></label>
                </div>
                <div class="col-xs-2">
                    {{newInvoice.deliveryRefNumber}}
                </div>
                <div class="col-xs-2">
                    <label class="control-label" style="min-width:91px;padding-top:0px;"><small>ทะเบียนรถขนส่ง:<br />CAR NO</small></label>
                </div>
                <div class="col-xs-2">
                    {{newInvoice.deliveryByCarNumber}}
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr style="height:57px;">
                    <th width="30px" style="text-align:center;">#</th>
                    <th style="text-align:center;">
                        <div><small>รายการสินค้า</small></div>
                        <div><small>Product</small></div>
                    </th>
                    <th width="100px" style="text-align:center;">
                        <div><small>ต่อหน่วยบรรจุ</small></div>
                        <div><small>Packing Unit</small></div>
                    </th>
                    <th width="80px" style="text-align:center;">
                        <div><small>จำนวน</small></div>
                        <div><small>Qty</small></div>
                    </th>
                    <th width="100px" style="text-align:center;">
                        <div><small>หน่วย</small></div>
                        <div><small>Unit</small></div>
                    </th>
                    <th width="120px" style="text-align:center;">
                        <div><small>หน่วยละ/บาท</small></div>
                        <div><small>Qty. Price</small></div>
                    </th>
                    <th width="75px" style="text-align:center;">
                        <div><small>ส่วนลด%</small></div>
                        <div><small>Discount</small></div>
                    </th>
                    <th width="100px" style="min-width:100px;text-align:center;">
                        <div><small>จำนวนเงิน</small></div>
                        <div><small>Amount</small></div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in newInvoice.invoiceDetails | filter:{ isDeleted: '!true'}">
                    <td style="text-align:center;vertical-align:middle;">{{item.no}}</td>
                    <td>
                        {{item.product.name}}
                    </td>
                    <td style="text-align:center;vertical-align:middle;">
                        {{item.product.unitsPerPackageText}}
                    </td>
                    <td style="text-align:right;">
                        {{item.qty}}
                    </td>
                    <td style="text-align:center;vertical-align:middle;">{{item.product.unitType.name}}</td>
                    <td style="text-align:right;">
                        {{item.pricePerUnit}}
                    </td>
                    <td style="text-align:center;">
                        {{item.discount}}
                    </td>
                    <td style="text-align:right;vertical-align:middle;">
                        {{calculateAmount(item) | currency: ''}}
                    </td>
                </tr>                
                <tr ng-repeat="i in blankInvoiceDetails track by $index"><td colspan="8">&nbsp;</td></tr>
            </tbody>
            <tbody>
                <tr style="background-color:#f9f9f9;">
                    <td colspan="5" style="text-align:right;">
                        <div style="white-space:pre-wrap;min-height:60px;">{{newInvoice.notes}}</div>
                        <div>({{calculateNetTotalText()}})</div>
                    </td>
                    <td colspan="2" style="text-align:right;">
                        <div>รวมเงิน/SUB TOTAL</div>
                        <div>ส่วนลด/DISCOUNT</div>
                        <div>ภาษีมูลค่าเพิ่ม/VAT 7%</div>
                        <div>จำนวนเงินสุทธิ/NET TOTAL</div>
                    </td>
                    <td style="text-align:right;">
                        <div>{{invoiceSubTotal() | currency: ''}}</div>
                        <div>{{invoiceTotalDiscount() | currency: ''}}</div>
                        <div>{{calculateTax() | currency: ''}}</div>
                        <div>{{calculateNetTotal() | currency: ''}}</div>
                    </td>
                </tr>
                <tr style="background-color:white;">
                    <td colspan="5" style="padding:0px;text-align:center;vertical-align:middle;">
                        <div class="form-group row remove-bottom-margin col-xs-12">
                            <p>การชำระเงินโปรดจ่ายเช็คขีดคร่อมในนาม</p>
                            <p>"ห้างหุ้นส่วนจำกัด เจริญถาวร"</p>
                        </div>
                    </td>
                    <td colspan="3" style="padding:0px;text-align:center;">
                        <div><strong>หจก.เจริญถาวร</strong></div>
                        <br />
                        <br />
                        <br />
                        <div>ลายเซนต์/SIGNATURE</div>
                        <br />
                        <div>วันที่/DATE</div>
                        <div>
                            -----/-----/-----
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="data.printMode && data.printValueOnly" id="invoicValueOnly" class="row" style="min-width:800px;max-width:800px;">
        <div id="headerarea">
            <div class="form-group remove-bottom-margin">
                <div class="col-xs-12" style="padding:2px;border-bottom:1px solid #FFF;border-bottom-width:medium;text-align:center;">
                    <div style="font-size:xx-large;"><strong>&nbsp;</strong></div>
                    <div class="text-overflow"><small>&nbsp;</small></div>
                    <div class="text-overflow"><small>&nbsp;</small></div>
                    <div><small>&nbsp;</small></div>
                </div>
            </div>
            <div class="form-group remove-bottom-margin">
                <div class="col-xs-12" style="padding:2px;text-align:center;">
                    <div style="font-size:large;"><strong>&nbsp;</strong></div>
                    <div style="font-size:large;"><strong>&nbsp;</strong></div>
                </div>
            </div>
            <div class="form-group row remove-bottom-margin">
                <div class="col-xs-4" style="min-height:145px;padding-left:20px;">
                    <div class="form-group remove-bottom-margin">
                        <label class="col-xs-2 control-label"><strong>&nbsp;</strong><br /><small style="font-size:75%;">&nbsp;</small></label>
                        <div class='col-xs-10'>
                            <div style="margin-top:10px;">
                                {{newInvoice.customerName}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row remove-bottom-margin">
                        <div class='col-xs-12'>
                            <small>{{newInvoice.customer.address}}</small>
                        </div>
                        <div class='col-xs-12'>
                            <small>{{newInvoice.customer.phone1}}</small>
                        </div>
                    </div>
                    <div class="form-group row remove-bottom-margin">
                        <label class="col-xs-3 control-label"><strong>&nbsp;</strong><br /><small style="font-size:75%;">&nbsp;</small></label>
                        <div class="col-xs-9" style="padding-top:10px;">
                            {{newInvoice.shipTo}}
                        </div>
                    </div>
                </div>
                <div class="col-xs-4" style="min-height:145px;">
                    <div class="form-group row remove-bottom-margin">
                        <label for="paymentType" class="col-xs-4 control-label"><strong>&nbsp;</strong><br /><small style="font-size:75%;">&nbsp;</small></label>
                        <div class="col-xs-8" style="padding-top:10px;">
                            {{newInvoice.invoiceNumber}}
                        </div>
                    </div>
                    <div class="form-group row remove-bottom-margin">
                        <label class="control-label col-xs-4" style="min-width:80px;"><strong>&nbsp;</strong><br /><small style="font-size:75%;">&nbsp;</small></label>
                        <div class='col-xs-8' style="padding-top:10px;">
                            {{newInvoice.createdDate | date: 'dd/MM/yyyy'}}
                        </div>
                    </div>
                    <div class="form-group row remove-bottom-margin">
                        <label class="control-label col-xs-4" style="min-width:120px;"><strong>&nbsp;</strong><br /><small style="font-size:75%;">&nbsp;</small></label>
                        <div class='col-xs-8' style="padding-top:10px;max-width:100px;">
                            {{newInvoice.dueDate | date: 'dd/MM/yyyy'}}
                        </div>
                    </div>
                </div>
                <div class="col-xs-4" style="min-height:145px;">
                    <div class="form-group remove-bottom-margin">
                        <label class="col-xs-5 control-label" style="min-width:100px;"><small>&nbsp;<br />&nbsp;</small></label>
                        <div class="col-xs-7" style="padding-top:10px;">
                            {{newInvoice.referencePONumber}}
                        </div>
                    </div>
                    <div class="form-group row remove-bottom-margin">
                        <label class="col-xs-5 control-label" style="min-width:130px;"><small>&nbsp;<br />&nbsp;</small></label>
                        <div class="col-xs-7" style="padding-top:10px;max-width:100px;">
                            {{newInvoice.termOfPayment}}
                        </div>
                    </div>
                    <div class="form-group row remove-bottom-margin">
                        <label class="col-xs-5 control-label" style="min-width:130px;"><small>&nbsp;<br />&nbsp;</small></label>
                        <div class='col-xs-7' style="padding-top:10px;max-width:100px;">
                            {{newInvoice.deliveryDate | date: 'dd/MM/yyyy'}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" style="padding:2px;border-top:1px solid #FFF;border-top-width:medium;">
                <div class="col-xs-2" style="max-width:70px;">
                    <label class="control-label" style="min-width:60px;padding-top:0px;"><small>&nbsp;<br />&nbsp;</small></label>
                </div>
                <div class="col-xs-2">
                    {{newInvoice.shipBy}}
                </div>
                <div class="col-xs-2">
                    <label class="control-label" style="min-width:80px;padding-top:0px;"><small>&nbsp;<br />&nbsp;</small></label>
                </div>
                <div class="col-xs-2">
                    {{newInvoice.deliveryRefNumber}}
                </div>
                <div class="col-xs-2">
                    <label class="control-label" style="min-width:91px;padding-top:0px;"><small>&nbsp;<br />&nbsp;</small></label>
                </div>
                <div class="col-xs-2">
                    {{newInvoice.deliveryByCarNumber}}
                </div>
            </div>
        </div>
        <table class="table table-bordernocolor">
            <thead>
                <tr style="height:57px;">
                    <th width="30px" style="text-align:center;border-color:#FFF;">#</th>
                    <th style="text-align:center;border-color:#FFF;">
                        <div><small>&nbsp;</small></div>
                        <div><small>&nbsp;</small></div>
                    </th>
                    <th width="100px" style="text-align:center;border-color:#FFF;">
                        <div><small>&nbsp;</small></div>
                        <div><small>&nbsp;</small></div>
                    </th>
                    <th width="80px" style="text-align:center;border-color:#FFF;">
                        <div><small>&nbsp;</small></div>
                        <div><small>&nbsp;</small></div>
                    </th>
                    <th width="100px" style="text-align:center;border-color:#FFF;">
                        <div><small>&nbsp;</small></div>
                        <div><small>&nbsp;</small></div>
                    </th>
                    <th width="120px" style="text-align:center;border-color:#FFF;">
                        <div><small>&nbsp;</small></div>
                        <div><small>&nbsp;</small></div>
                    </th>
                    <th width="75px" style="text-align:center;border-color:#FFF;">
                        <div><small>&nbsp;</small></div>
                        <div><small>&nbsp;</small></div>
                    </th>
                    <th width="100px" style="min-width:100px;text-align:center;border-color:#FFF;">
                        <div><small>&nbsp;</small></div>
                        <div><small>&nbsp;</small></div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in newInvoice.invoiceDetails | filter:{ isDeleted: '!true'}">
                    <td style="text-align:center;vertical-align:middle;">{{item.no}}</td>
                    <td>
                        {{item.product.name}}
                    </td>
                    <td style="text-align:center;vertical-align:middle;">
                        {{item.product.unitsPerPackageText}}
                    </td>
                    <td style="text-align:right;">
                        {{item.qty}}
                    </td>
                    <td style="text-align:center;vertical-align:middle;">{{item.product.unitType.name}}</td>
                    <td style="text-align:right;">
                        {{item.pricePerUnit}}
                    </td>
                    <td style="text-align:center;">
                        {{item.discount}}
                    </td>
                    <td style="text-align:right;vertical-align:middle;">
                        {{calculateAmount(item) | currency: ''}}
                    </td>
                </tr>
                <tr ng-repeat="i in blankInvoiceDetails track by $index"><td colspan="8">&nbsp;</td></tr>
                <tr>
                    <td colspan="5" style="text-align:right;">
                        <div style="white-space:pre-wrap;min-height:60px;">{{newInvoice.notes}}</div>
                        <div>({{calculateNetTotalText()}})</div>
                    </td>
                    <td colspan="2" style="text-align:right;">
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                    </td>
                    <td style="text-align:right;">
                        <div>{{invoiceSubTotal() | currency: ''}}</div>
                        <div>{{invoiceTotalDiscount() | currency: ''}}</div>
                        <div>{{calculateTax() | currency: ''}}</div>
                        <div>{{calculateNetTotal() | currency: ''}}</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="5" style="padding:0px;text-align:center;vertical-align:middle;">
                        <div class="form-group row remove-bottom-margin col-xs-12">
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                        </div>
                    </td>
                    <td colspan="3" style="padding:0px;text-align:center;">
                        <div><strong>&nbsp;</strong></div>
                        <br />
                        <br />
                        <br />
                        <div>&nbsp;</div>
                        <br />
                        <div>&nbsp;</div>
                        <div>
                            &nbsp;
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr class="noPrint" />
    <div ng-show="status!=''" class="row alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{status}}
    </div>
    <md-progress-linear ng-show="showLoading" md-mode="indeterminate"></md-progress-linear>
    <div class="form-group remove-bottom-margin noPrint">
        <button ng-show="!data.printMode" type="submit" ng-click="saveInvoice()" class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-save"></span> บันทึก
        </button>
        <a href="#" class="btn btn-primary" ng-show="!data.printMode" ng-click="data.printMode = true;data.printValueOnly = true;"><i class="glyphicon glyphicon-print"></i> ตัวอย่างก่อนพิมพ์</a>
        <a href="#" class="btn btn-warning" ng-show="!data.printMode" ng-click="data.printMode = true;data.printValueOnly = false;"><i class="glyphicon glyphicon-print"></i> ตัวอย่างก่อนพิมพ์มีเส้น</a>
        <a href="#" class="btn btn-primary" ng-show="data.printMode" onclick="window.print();"><i class="glyphicon glyphicon-print"></i> พิมพ์</a>
        <a href="#" class="btn btn-primary" ng-show="data.printMode" ng-click="data.printMode = false;"><i class="glyphicon glyphicon-edit"></i> กลับไปแก้ไข</a>
    </div>
</form>
