@model IEnumerable<StoreFertilizers.Models.Invoice>

@{
    ViewData["Title"] = "ใบกำกับสินค้า";
}

<form name="myForm" class="form-horizontal" role="form" ng-controller="invoicesIndexController">
    <br />
    <div class="row noPrint">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table borderless" style="margin:0px;">
                    <tr>
                        <td width="200px" style="border:none;">
                            <input type="text" class="col-xs-3 form-control input-sm" style="max-width:none;" ng-model="data.filterOptions.filterText" placeholder="ค้นหาจาก เลขที่,ผู้ซื้อ,หมายเหตุ" />
                        </td>
                        <td width="65px" style="border:none;vertical-align:middle;">
                            <span for="isTax">ชนิดบิล</span>                            
                        </td>
                        <td width="100px" style="border:none;vertical-align:middle;">
                            <select class="form-control input-sm display-inline" ng-model='data.filterOptions.isTax' style="max-width:80px;">
                                <option value="">ทั้งหมด</option>
                                <option value="notax">ทั่วไป</option>
                                <option value="tax">ภาษี</option>
                            </select>
                        </td>
                        <td width="45px" style="vertical-align:middle;border:none;">
                            วันที่
                        </td>
                        <td width="140px" style="border:none;vertical-align:middle;">
                            <div class='datepicker input-group date' style="max-width:139px;">
                                <input type='text' customdatepicker ng-model="data.filterOptions.fromCreatedDate" class="form-control input-sm" style="max-width:100px;" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </td>
                        <td width="30px" style="text-align:center;vertical-align:middle;border:none;">
                            ถึง
                        </td>
                        <td width="140px" style="border:none;vertical-align:middle;">
                            <div class='datepicker input-group date' style="max-width:139px;">
                                <input type='text' customdatepicker ng-model="data.filterOptions.toCreatedDate" class="form-control input-sm" style="max-width:100px;" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </td>
                        <td width="85px" style="border:none;vertical-align:middle;">ครบกำหนด</td>
                        <td width="100px" style="border:none;vertical-align:middle;">
                            <select class="form-control input-sm display-inline" ng-model='data.filterOptions.dueIn' style="max-width:100px;">
                                <option value="">  ---  </option>
                                <option value="over">เกิน</option>
                                <option value="today">วันนี้</option>
                                <option value="tomorrow">พรุ่งนี้</option>
                                <option value="next3">อีก 3 วัน</option>
                                <option value="next7">อีก 7 วัน</option>
                            </select>
                        </td>
                        <td style="border:none;vertical-align:middle;">
                            <button type="submit" ng-click="getInvoicesByFilters()" class="col-xs-2 btn btn-primary btn-sm" style="width:120px;">
                                <span class="glyphicon glyphicon-search"></span> ค้นหา
                            </button>&nbsp;
                            <a href="#" class="btn btn-primary" onclick="window.print();"><i class="glyphicon glyphicon-print"></i> พิมพ์</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div ng-show="status!=''" class="alert alert-danger noPrint" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{status}}
    </div>
    <md-progress-linear ng-show="showLoading" md-mode="indeterminate"></md-progress-linear>
    <div ng-show="!showLoading" class="widget stacked widget-table action-table">
        <div class="table-responsive widget-content">
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-inverse">
                    <tr class="widget-header">
                        <th width="70px" class="noPrint" style="text-align:center;min-width:70px"></th>
                        <th width="120px" style="text-align:center;">
                            <a href="#" style="text-decoration:none;" ng-click="data.sortOptions.field = 'createdDate'; data.sortOptions.sortReverse = !data.sortOptions.sortReverse; getInvoicesByFilters()">
                                วันที่
                                <span ng-show="data.sortOptions.field == 'createdDate' && !data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="data.sortOptions.field == 'createdDate' && data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                        <th width="90px" style="text-align:center;">
                            <a href="#" style="text-decoration:none;" ng-click="data.sortOptions.field = 'isTax'; data.sortOptions.sortReverse = !data.sortOptions.sortReverse; getInvoicesByFilters()">
                                ภาษี
                                <span ng-show="data.sortOptions.field == 'isTax' && data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="data.sortOptions.field == 'isTax' && !data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                        <th width="150px" style="text-align:center;">
                            <a href="#" style="text-decoration:none;" ng-click="data.sortOptions.field = 'invoiceNumber'; data.sortOptions.sortReverse = !data.sortOptions.sortReverse; getInvoicesByFilters()">
                                เลขที่
                                <span ng-show="data.sortOptions.field == 'invoiceNumber' && data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="data.sortOptions.field == 'invoiceNumber' && !data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                        <th style="min-width:150px;text-align:center;">
                            <a href="#" style="text-decoration:none;" ng-click="data.sortOptions.field = 'customerName'; data.sortOptions.sortReverse = !data.sortOptions.sortReverse; getInvoicesByFilters()">
                                ผู้ซื้อ
                                <span ng-show="data.sortOptions.field == 'customerName' && data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="data.sortOptions.field == 'customerName' && !data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                        <th width="150px" style="text-align:center;">
                            <a href="#" style="text-decoration:none;" ng-click="data.sortOptions.field = 'netTotal'; data.sortOptions.sortReverse = !data.sortOptions.sortReverse; getInvoicesByFilters()">
                                จำนวนเงิน
                                <span ng-show="data.sortOptions.field == 'netTotal' && data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="data.sortOptions.field == 'netTotal' && !data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                        <th width="90px" style="text-align:center;">
                            <a href="#" style="text-decoration:none;" ng-click="data.sortOptions.field = 'paid'; data.sortOptions.sortReverse = !data.sortOptions.sortReverse; getInvoicesByFilters()">
                                ชำระ
                                <span ng-show="data.sortOptions.field == 'paid' && data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="data.sortOptions.field == 'paid' && !data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                        <th width="120px" style="text-align:center;">
                            <a href="#" style="text-decoration:none;" ng-click="data.sortOptions.field = 'dueDate'; data.sortOptions.sortReverse = !data.sortOptions.sortReverse; getInvoicesByFilters()">
                                ครบกำหนด
                                <span ng-show="data.sortOptions.field == 'dueDate' && data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="data.sortOptions.field == 'dueDate' && !data.sortOptions.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in invoices" ng-show="data.totalItems > 0">
                        <td class="noPrint" style="text-align:center;vertical-align:middle;">
                            <a href="Invoices/Edit/{{item.invoiceID}}?isTax={{item.isTax}}&isTicket={{item.isTicket}}" class="btn btn-warning btn-xs"><i class="glyphicon glyphicon-edit"></i></a>
                            <a href="" class="btn btn-danger btn-xs" ng-click="removeInvoice(item)"><i class="glyphicon glyphicon-trash"></i></a>
                        </td>
                        <td style="text-align:center;">{{item.createdDate | date: 'dd/MM/yyyy'}}</td>
                        <td style="text-align:center;">
                            <input type="checkbox" ng-disabled="true" ng-model="item.isTax">
                        </td>
                        <td style="text-align:center;">{{item.invoiceNumber}}</td>
                        <td>{{item.customerName}}</td>
                        <td style="text-align:right;">{{item.netTotal | number:2}}</td>
                        <td style="text-align:center;">
                            <input type="checkbox" ng-disabled="true" ng-model="item.paid">
                        </td>
                        <td style="text-align:center;">{{item.dueDate | date: 'dd/MM/yyyy'}}</td>
                    </tr>
                    <tr ng-show="data.totalItems == 0">
                        <td colspan="8">ไม่พบข้อมูล</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <pagination total-items="data.totalItems" items-per-page="data.pagingOptions.pageSize" ng-model="data.pagingOptions.currentPage" ng-change="getInvoicesByFilters()" class="pagination-sm noPrint"></pagination>
</form>
